.main-table(ng-style="$ctrl.tableWidthStyle()")
  .main-grid(ui-grid="{ data: $ctrl.state.active.activeLayout.items }" ng-hide="$ctrl.state.active.dividerPercent < 2" ui-grid-auto-resize)
.main-canvas(ng-style="$ctrl.canvasWidthStyle()")
  .control-area
    button.btn.btn-circle.btn-lg
      img.btn-icon(src="./app/images/active/view-options.svg")
    button.btn.btn-circle.btn-lg
      img.btn-icon(src="./app/images/active/snapshot.svg")
  svg.main-svg
    g.main-g
      rect.main-background
      g.main-g-items
.draggable-divider(drag-container="true" on-drag-end="dragging = false; $ctrl.dragDivider($event)" ng-style="$ctrl.dragTabLeftStyle()")
  .drag-tab
.node-search(ng-show="$ctrl.currentlyAdding")
  .input-group
    .input-group-addon.addon-left
      i.glyphicon.glyphicon-search(ng-hide="loadingSearchResults")
      .spinner(ng-if="loadingSearchResults")
    input.form-control(type="text" ng-model="$ctrl.nodeSearchSelected" placeholder="Search" uib-typeahead="result.description for result in $ctrl.nodeSearchResults($viewValue)" typeahead-loading="loadingSearchResults" typeahead-no-results="noResults" typeahead-on-select="$ctrl.nodeSearchSelect($item, $model, $label, $event)" typeahead-wait-ms="200")
    .input-group-addon.addon-right(ng-click="$ctrl.nodeSearchRemove()")
      i.glyphicon.glyphicon-remove
  .no-results(ng-show="noResults")
    label No Results Found
#circle-menu.circle-menu
