.control-area
  button.btn.btn-circle.btn-default
    i.glyphicon.glyphicon-search
  button.btn.btn-circle.btn-default
    i.glyphicon.glyphicon-eye-open
  button.btn.btn-circle.btn-default
    i.glyphicon.glyphicon-camera
.table-tab Table View