.control-area {
  position: fixed
  top: 50px
  right: 0px
  width: 4em
  padding: 1em

  .btn {
    margin-bottom: 1em
    box-shadow: 1px 1px 1px #CCC
  }
  
  .btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
  }
  .btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
  }
  .btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
  }
}

.table-tab {
  top: 47%
  left: -2.25em
  padding: 0.5em 1em 0.5em 1em
  position: fixed
  border-style: none solid solid solid
  border-width: 1px
  border-color: #bbb
  border-radius: 0px 0px 3px 3px
  transform: rotate(270deg)
}