.control-area
  button.btn.btn-circle.btn-default
    i.glyphicon.glyphicon-plus
  button.btn.btn-circle.btn-default
    i.glyphicon.glyphicon-link
  button.btn.btn-circle.btn-default
    i.glyphicon.glyphicon-pencil
.table-tab Table View