.main-table(ng-style="$ctrl.tableWidthStyle()")
  .main-grid(ui-grid="{ data: $ctrl.state.active.activeLayout.items }" ng-hide="$ctrl.state.active.dividerPercent < 2" ui-grid-auto-resize)
.main-canvas(ng-style="$ctrl.canvasWidthStyle()")
  .control-area
    button.btn.btn-circle.btn-lg
      img.btn-icon.view-options(src="./app/images/active/view_options.svg")
    button.btn.btn-circle.btn-lg
      img.btn-icon.snapshot(src="./app/images/active/snapshot.svg")
  svg.main-svg
    g.main-g
      rect.main-background
      g.main-g-items
.draggable-divider(drag-container="true" on-drag-end="dragging = false; $ctrl.dragDivider($event)" ng-style="$ctrl.dragTabLeftStyle()")
  .drag-tab(ng-hide="$ctrl.state.active.dividerPercent > 2 && $ctrl.state.active.dividerPercent < 98")
.node-search(ng-show="$ctrl.currentlyAdding")
  .input-group
    .input-group-addon.addon-left
      i.glyphicon.glyphicon-search(ng-hide="loadingSearchResults")
      .spinner(ng-if="loadingSearchResults")
    input.form-control(type="text" ng-model="$ctrl.nodeSearchSelected" placeholder="Search" uib-typeahead="result as $ctrl.nodeSearchLabel(result) for result in $ctrl.nodeSearchResults($viewValue)" typeahead-template-url="resultTemplate.html" typeahead-loading="loadingSearchResults" typeahead-no-results="noResults" typeahead-on-select="$ctrl.nodeSearchSelect($item, $model, $label, $event)" typeahead-wait-ms="200")
    .input-group-addon.addon-right(ng-click="$ctrl.nodeSearchRemove()")
      //-i.glyphicon.glyphicon-remove
      img.dismiss-icon(src="./app/images/filter/remove.svg")
  .no-results(ng-show="noResults")
    label No Results Found
#circle-menu.circle-menu
#properties-menu.circle-menu
.active-tooltip
script(type="text/ng-template" id="resultTemplate.html")
  a
    span.resultType {{ (match.model.additionalInformation.typeDescriptions | prefLang).length > 8 ? (match.model.additionalInformation.typeDescriptions | prefLang | limitTo:7:0)+"…" : (match.model.additionalInformation.typeDescriptions | prefLang) }}
    span.resultActual {{ match.label }}
    span.resultSource(ng-repeat="ds in match.model.additionalInformation.dataSourceDescriptions") {{ ds.value.length > 14 ? (ds.value | limitTo:13:0)+"…" : (ds.value) }}
