.control-area
  button.btn.btn-circle.btn-default
    i.glyphicon.glyphicon-search
  button.btn.btn-circle.btn-default
    i.glyphicon.glyphicon-eye-open
  button.btn.btn-circle.btn-default
    i.glyphicon.glyphicon-camera
.drag-tab(ng-style="$ctrl.dragTabLeftStyle()")
.draggable-divider(drag-container="true" on-drag-start="$ctrl.dragDivider($event)" ng-style="$ctrl.dragTabLeftStyle()")
.main-table(drop-container on-drag-over="$ctrl.dragDivider($event)" ng-style="$ctrl.tableWidthStyle()")
.main-canvas(drop-container on-drag-over="$ctrl.dragDivider($event)" ng-style="$ctrl.canvasWidthStyle()")
  svg.main-svg
    g.main-g
      rect.main-background
      g.main-g-items
.node-search(ng-show="$ctrl.currentlyAdding")
  .input-group
    .input-group-addon
      i.glyphicon.glyphicon-search
    input.form-control(type="text" ng-model="$ctrl.nodeSearchSelected" placeholder="Search" uib-typeahead="result.description for result in $ctrl.nodeSearchResults($viewValue)" typeahead-loading="loadingSearchResults" typeahead-no-results="noResults" typeahead-on-select="$ctrl.nodeSearchSelect($item, $model, $label, $event)" typeahead-wait-ms="200")
    .input-group-addon(ng-click="$ctrl.nodeSearchRemove()")
      i.glyphicon.glyphicon-remove
  i.glyphicon.glyphicon-refresh(ng-show="loadingSearchResults")
  div(ng-show="noResults")
    i.glyphicon.glyphicon-remove No Results Found