html {
  height:100%
}

body {
  padding-top: 50px;
  height:100%
}

#left-column {
}

#middle-column {
  height: 100%;
  padding: 30px;
}

#right-column {
}

.main {
  height: 100%
}

main {
  height: 100%
}

.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}

[tree] li {
  list-style-type: none;
}

ul {
  padding-left: 15px;
}

.group-label {
  font-weight: bold;
}

div.checkbox {
  margin-top: 3px;
  margin-bottom: 3px;
}