@import '~bootstrap/dist/css/bootstrap.css'
@import '~font-awesome/css/font-awesome.css'
@import '~codemirror/lib/codemirror.css'
@require '../components/components.styl'
@import '~angular-ui-grid/ui-grid.css'
@import '~angularjs-slider/dist/rzslider.css'
@import '~angular-bootstrap-toggle/dist/angular-bootstrap-toggle.css'
@import '~circular-menu/dist/css/circular-menu.css'
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i')
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono')

@font-face
 font-family: "Calibre";
 font-weight: 400;
 src: url("../fonts/calibre/CalibreTest-Regular.woff") format("woff");

@font-face
 font-family: "Calibre";
 font-weight: 400;
 font-style: italic;
 src: url("../fonts/calibre/CalibreTest-RegularItalic.woff") format("woff");

@font-face
 font-family: "Calibre";
 font-weight: 500;
 src: url("../fonts/calibre/CalibreTest-Medium.woff") format("woff");

@font-face
 font-family: "Calibre";
 font-weight: 500;
 font-style: italic;
 src: url("../fonts/calibre/CalibreTest-MediumItalic.woff") format("woff");

html
  height:100%

body
  height:100%
  overflow-y: scroll
  background-color: #f5f5f5
  font-family: 'Calibre', sans-serif
  font-weight: 300
  color: #3c3c3c

h1, h2, h3, h4, h5, h6
  font-family: 'Calibre', sans-serif
  font-weight: 500

h5
  font-size: 1.3em

h4
  font-size: 1.7em

h3
  font-size: 1.9em

p
  font-size: 1.1em

label
  font-weight: 400

label.input-label
  font-size: 1.05em
  font-weight: 400
  letter-spacing: 0.04em
  color: #838383
  margin-bottom: 10px

input
  font-size: 1.1em

.mandatory-asterisk
  color: #ff0000
  margin-left: 5px
  font-size: 1.1em

select
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  border-radius: 0;
  background: none;

a
  color: #1581e6

a:hover
  text-decoration: none
  color: #1581e6

.bold
  font-weight: 500

.red-text
  color: #d24545

.blue-text
  color: #466bd3

.header-title
  margin-top: 50px

  .header-subtitle
    font-size: 0.7em
    font-weight: 400
    color: #466bd3
    margin-left: 15px

.visible
  opacity: 1

.keyline
  border-color: rgba(0, 0, 0, 0.2)
  margin: 0 -15px 0 -15px

#test-input
	width: 50px
	height: 30px

.links line
  stroke: gray
  stroke-width: 1px

.links line
  stroke: black

.links line:hover,
  stroke-width: 5px
  transition: .5s

.relevant
  stroke: black !important
  transition: .25s
  stroke-width: 2.5px !important

.navbar
  height: 10px
  border-bottom: none
  position: absolute
  background-color: #262626

#middle-column
  position: absolute
  left: 0
  padding: 0px

body::-webkit-scrollbar
 display: none

.main
  height: 100%

main
  height: 100%

#tabcontainer
  margin-top: 10px
  text-align: center
  margin-bottom: 20px

.widthcontainer
  width: 100%
  height: 100%
  overflow: auto
  border: 2px solid #f2f2f2

#tabcontainer a
  margin: 20px
  border: 1px solid white
  border-radius: 2px
  padding: 3px
  color: black
  margin-bottom: 20px
  cursor: pointer

#tabcontainer a.active
 border: 1px solid black

#layout-choice, #link-options
  display: inline-block
  margin-left: 2em

.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child)
  padding-right: 0
  padding-left: 0

[tree] li
  list-style-type: none

ul
  padding-left: 15px

.group-label
  font-weight: bold

div.checkbox
  margin-top: 3px
  margin-bottom: 3px

.popover
z-index: 1000
position: absolute

.sunburst-cell
  fill: #aaa

.sunburst-cell:hover
  fill: #999

.auth-text
  float: right
  margin: 50px 0 -70px 0
  color: rgba(0, 0, 0, 0.7)
  font-size: 1em

.border
  border: 1px solid rgba(#000, 0.1)

.transition-100
  transition: .1s
  -webkit-transition: .1s
  -moz-transition: .1s
  -o-transition: .1s

.transition-200
  transition: .2s
  -webkit-transition: .2s
  -moz-transition: .2s
  -o-transition: .2s

.modal-backdrop
  background-color: #868686

.modal-content
  border: none
  box-shadow: 0 1px 10px rgba(#000, 0.2)
  padding: 40px
  border-radius: 3px

  .modal-header, .modal-body, .modal-footer
    padding: 0
    border: none

  .description
    width: 300px
    margin-top: 30px

.modal-tabs
  li
    a
      background: none
      text-align: center
      background-color: rgba(#000000, 0.05)
      border: 1px solid transparent
      border-radius: 3px
      margin: 0 10px 50px 0
      padding: 8px -10px 8px -10px
      color: #3c3c3c
      opacity: .8
      transition: .2s
      -webkit-transition: .2s
      -moz-transition: .2s
      -o-transition: .2s

      &:hover
        opacity: 1

  ul > li.active > a
      background-color: #466bd3 !important
      opacity: 1
      box-shadow: 0px 1px 2px rgba(#000, 0.2)
      border-bottom: 1px solid rgba(#000000, 0.3)
      color: #fff !important

.text-button
  appearance: none
  border: none
  background: none
  outline: none
  font-size: 1.1em
  margin-left: 15px

  &:hover
    opacity: .4;

.button-disabled
  cursor: default
  opacity: .3 !important
