.source0
  color: indigo

.source1
  color: red

.source2
  color: blue

.source3
  color: green

.source4
  color: magenta

.source5
  color: yellow

.source6
  color: cyan

.source7
  color: grey

.source8
  color: brown

.source9
  color: black
