.sources-main
  .sources-left
    .sources-head
      h3.pull-left Sources
      span.pull-right add
    .sources-list
      span(ng-repeat="source in $ctrl.actions.project.sources")
        h4(ng-click="$ctrl.projectsOpen[source.id] = !$ctrl.projectsOpen[source.id]")
          i.glyphicon.glyphicon-triangle-right(ng-show="!$ctrl.projectsOpen[source.id]")
          i.glyphicon.glyphicon-triangle-bottom(ng-show="$ctrl.projectsOpen[source.id]")
          span {{source.description}}
        .class-list(ng-show="$ctrl.projectsOpen[source.id] ? true : false")
          label(ng-repeat="(key, value) in $ctrl.actions.project.project.dataModel.classMap.s" ng-hide="value.labels.length === 0") 
            input(type="checkbox", ng-model="$ctrl.localSourceClassTree[source.id][key]" ng-click="$ctrl.state.setSourceClassActive(source.id, key, !$ctrl.getSourceClassStatus(source.id, key))")
            span {{value.labels | prefLang}}
      //- h4  
      //-   i.glyphicon.glyphicon-triangle-right
      //-   span Physiocrats.csv
      //- h4
      //-   i.glyphicon.glyphicon-triangle-right
      //-   span Created in Active
  .sources-right