.sources-main
  .sources-left
    .sources-head
      h3.pull-left Sources
      span.pull-right add
    .sources-list
      h4
        i.glyphicon.glyphicon-triangle-right
        span BnF
      h4
        i.glyphicon.glyphicon-triangle-bottom
        span VIAF
      .source-list
        label 
          input(type="checkbox")
          span Concept
        label 
          input(type="checkbox")
          span Document
        label 
          input(type="checkbox")
          span Person
        label 
          input(type="checkbox")
          span Organization
        label 
          input(type="checkbox")
          span CorporateBody
        label 
          input(type="checkbox")
          span Place
      h4
        i.glyphicon.glyphicon-triangle-right
        span Electronic Enlightenment
      h4  
        i.glyphicon.glyphicon-triangle-right
        span Physiocrats.csv
      h4
        i.glyphicon.glyphicon-triangle-right
        span Created in Active
  .sources-right