sources {

  display: inline-block
  height: 100%
  width: 100%

  .sources-main {
    width: 100%
    height: 100%
    padding-bottom: 3em

    .sources-left {
      display: inline-block
      position: absolute
      clear: left
      width: 30%
      height: 100%
      background-color: #f6f6f6
      padding: 30px
      overflow-y: scroll
      padding-bottom: 3em

      .sources-head {
        position: relative
        width: 100%
        height: 80px

        h3 {
          font-size: 1.2em
        }

        .edit-sources-icon {
          width: 15px
          float: right
          margin-top: 20px
          font-size: 1.4em
          opacity: .7

          &:hover {
            opacity: .4
            cursor: pointer
          }
        }
      }

      .sources-category-title {
        letter-spacing: 0.03em
        //text-transform: uppercase
        font-size: 0.9em
        color: #8b8b8b
      }

      .sources-list {
        margin-bottom: 40px

        .source-title {
          font-size: 1.2em
        }

        label {
          font-size: 0.9em
          font-weight: normal
          display: block
          margin-left: 2em
        }

        h4, label {
          span {
            margin-left: 0.5em
          }
        }

        .glyphicon-triangle-right {
          font-size: 0.8em
          opacity: .4
          transform: scale(1, 0.8)
          -webkit-transform: scale(1, 0.8)

          &:hover {
            pointer: cursor
          }
        }

        .triangle-rotated {
          transform: scale(0.8, 1) rotate(90deg)
          -webkit-transform: scale(0.8, 1) rotate(90deg)
        }

        .source-name {
          font-size: 0.9em
          &:hover {
            pointer: cursor
          }
        }

        .class-list {
          margin-bottom: 20px
        }
      }
    }

    .sources-right {
      display: inline-block
      position: absolute
      left: 30%
      clear: right
      width: 70%
      height: 100%
      background-color: white

      .matrix {
        padding: 30px

        ul {
          list-style: none
        }

        .matrix-property-container {
          margin-left: 150px
          height: 150px

          .matrix-property {
            border: 1px solid blue
            display: inline-block
            width: 50px
            height: 150px

            .matrix-property-label-container {
              position: absolute
              transform: rotate(-90deg)
              margin-left: -105px

              .matrix-property-label {
                width: 130px
                white-space: nowrap
                margin-top: 125px
                overflow-x: hidden
                text-overflow: ellipsis
              }
            }
          }
        }

        .matrix-source-container {
          height: 50px

          .matrix-source {
            border: 1px solid blue
            display: inline-block
            width: 150px
            height: 50px

            .matrix-source-label {
              display: inline-block
              width: 150px
              height: 50px
              text-align: right
              overflow-y: hidden
              text-overflow: ellipsis
              padding-right: 15px
            }
          }

          .matrix-cell {
            border: 1px solid blue
            display: inline-block
            width: 50px
            height: 50px
            vertical-align: top

            .matrix-cell-checkbox {
              margin-left: 18px
              margin-top: 18px
            }
          }
        }

        .matrix-total-container {
          margin-top: 25px
          margin-left: 150px
          height: 50px

          .matrix-total-cell {
            border: 1px solid green
            display: inline-block
            width: 50px
            height: 50px
            vertical-align: top

            .matrix-cell-checkbox {
              margin-left: 18px
              margin-top: 18px
            }
          }
        }
      }
    }
  }
}
