.sources-main
  .sources-left(ng-init="editSourcesStatus=''")
    .sources-head
      h5.pull-left.sources-list-title Project sources
      img.edit-sources-icon.transition-200(src="./app/images/general/plus_dark.svg" ng-click="$ctrl.openAddSourcesModal()")
    //- .matrix-left
    //-   .matrix-property-container
    //-     .matrix-property(ng-repeat="source in $ctrl.state.sources.authoritySources.concat($ctrl.state.sources.archiveSources)")
    //-       .matrix-property-label-container
    //-         .matrix-property-label 
    //-           label
    //-             //- input.matrix-property-checkbox(type="checkbox")
    //-             span.prop-label-span {{ source.labels | prefLang }}
    //-   .matrix-source-container(ng-repeat="class in $ctrl.allClasses()")
    //-     .matrix-source
    //-       .matrix-source-label {{ class.labels | prefLang }}
    //-     .matrix-cell(ng-repeat="source in $ctrl.state.sources.authoritySources.concat($ctrl.state.sources.archiveSources)")
    //-       input.matrix-cell-checkbox(type="checkbox")
    .sources-list(ng-show="$ctrl.state.sources.authoritySources.length != 0")
      h6.sources-category-title Authorities
      span.source-title-container(ng-repeat="source in $ctrl.state.sources.authoritySources")
        label.source-title(ng-click="$ctrl.projectsOpen[source.id] = !$ctrl.projectsOpen[source.id]")
          i.glyphicon.glyphicon-triangle-right.transition-200(ng-class="{'triangle-rotated' : $ctrl.projectsOpen[source.id]}")
          span.source-name {{source.labels | prefLang}}
        .class-list(ng-show="$ctrl.projectsOpen[source.id] ? true : false")
          label.checkbox-container(ng-repeat="clss in source.classes" ng-hide="clss.labels.length === 0") 
            input(type="checkbox", ng-model="$ctrl.localSourceClassTree[source.id][clss.value]" ng-click="$ctrl.sourcesActionService.setSourceClassActive(source.id, clss.value, !$ctrl.getSourceClassStatus(source.id, clss.value))")
            span.type-name {{clss.labels | prefLang}}
              span.type-entities.calibre-numbers-kern {{ source.classStats.get(clss.id) | number }} entities
    .sources-list(ng-show="$ctrl.state.sources.archiveSources.length != 0")
      h6.sources-category-title Archives
      span.source-title-container(ng-repeat="source in $ctrl.state.sources.archiveSources")
        label.source-title(ng-click="$ctrl.projectsOpen[source.id] = !$ctrl.projectsOpen[source.id]")
          i.glyphicon.glyphicon-triangle-right.transition-200(ng-class="{'triangle-rotated' : $ctrl.projectsOpen[source.id]}")
          span.source-name {{source.labels | prefLang}}
        .class-list(ng-show="$ctrl.projectsOpen[source.id] ? true : false")
          label.checkbox-container(ng-repeat="clss in source.classes" ng-hide="clss.labels.length === 0") 
            input(type="checkbox", ng-model="$ctrl.localSourceClassTree[source.id][clss.value]" ng-click="$ctrl.sourcesActionService.setSourceClassActive(source.id, clss.value, !$ctrl.getSourceClassStatus(source.id, clss.value))")
            span.type-name {{clss.labels | prefLang}}
              span.type-entities
                span.calibre-numbers-kern {{ source.classStats.get(clss.id) | number }} 
                | entities
              
  .sources-right
    .properties-head
      h5 Properties matrix
    uib-tabset.matrix-tabs(type="pills" ng-init="ps = $ctrl.propStatistics()")
      uib-tab(ng-repeat="class in $ctrl.allClasses()" index="$index" heading="{{ class.labels | prefLang }}")
        .matrix-right
          .matrix-border-box
            .matrix-property-container
              .matrix-property(ng-repeat="prop in $ctrl.sourcePropsForClass(class).properties")
                .matrix-property-label-container
                  .matrix-property-label 
                    label
                      input.matrix-property-checkbox(type="checkbox")
                      span.prop-label-span {{ prop.labels | prefLang }}
            .matrix-source-container(ng-repeat="source in $ctrl.state.sources.authoritySources.concat($ctrl.state.sources.archiveSources)" ng-if="source.classStats.has(class.id)")
              .matrix-source
                .matrix-source-label
                  span.block {{ source.labels | prefLang }}
                    br
                    span.matrix-entities
                      span.calibre-numbers-kern {{ source.classStats.get(class.id) | number }} 
                      | entities
              .matrix-cell(ng-repeat="prop in $ctrl.sourcePropsForClass(class).properties" ng-style="{'background-color':'rgba(69, 106, 210, '+source.propStats.get(prop.value).values/source.classStats.get(class.id)+')'}" uib-popover="{{ source.propStats.get(prop.value).values }} / {{ source.classStats.get(class.id) }} ({{ source.propStats.get(prop.value).values / source.classStats.get(class.id) * 100 | number : 2 }}%)" popover-placement="bottom" popover-popup-delay="250" popover-trigger="'mouseenter'")
                .stats.stats-available(ng-show="source.propStats.get(prop.value).values")
                  label(ng-class="{'text-white' : (source.propStats.get(prop.value).values / source.classStats.get(class.id) * 100 | number : 0) > 50}") {{ $ctrl.floor(source.propStats.get(prop.value).values / source.classStats.get(class.id) * 100) | number : 0 }}%
                .stats.stats-unavailable(ng-show="!source.propStats.get(prop.value).values")
                  //- label 
            .matrix-total-container
              .matrix-total
                .matrix-total-label Total {{ $ctrl.grandTotal(class.id) }}
              .matrix-total-cell(ng-repeat="prop in $ctrl.sourcePropsForClass(class).properties") {{ ps.get(prop.value).values }}
