---
layout: default
title: Home
---
<div class="introduction">
  <h1>Fibra</h1>

<p>{{ site.description }}</p>
</div>

<hr>

<div class="toc">
  <h2>Workshops and Meetings</h2>
  <ul class="post">
      {% for item in site.meetings %}
    <li class="post-title">
          <a href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a> • {{ item.updated }}
          <p>{{ item.short-description }}</p>
      </li>
      {% endfor %}
  </ul>
  <h2>Design + Blueprints</h2>
  <ul class="post">
      {% for item in site.designs limit:3 %}
    <li class="post-title">
          <a href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a> • {{ item.updated }}
          <p>{{ item.short-description }}</p>
      </li>
      {% endfor %}
  </ul>
  <h2>Studies of similar or related work</h2>
  <ul class="post">
      {% for item in site.studies limit:3 %}
<li class="post-title">
          <a href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a> • {{ item.updated }}
      </li>
      {% endfor %}
  </ul>
</div>



