.modal-header
  h4.modal-title#modal-title Select Sources
  p.description Configure your project with external authorities and archives to draw in external data.
.modal-body#modal-body
  ul.available-sources-list
    li(ng-repeat="endpoint in $ctrl.authorityEndpoints.concat($ctrl.archiveEndpoints)")
      input(type="checkbox", ng-model="$ctrl.sourceSelections[endpoint.id]")
      span &nbsp;{{ endpoint.labels | prefLang }}
.modal-footer
  button.cancel-button.transition-200(ng-click="$ctrl.cancel()") Cancel
  button.select-button.transition-200(ng-click="$ctrl.commit()") Select
