add-source {

  p {
    width: 300px
    margin-top: 15px
  }

  .available-sources-list {
    margin-left: -7px
    margin-top: 30px
    list-style: none
    line-height: 1.7em

    li {
      margin-left: 1em
    }

    input {
      position: relative
      left: -20px
    }

    span {
      font-size: 1em
      margin-left:-1.16em
      line-height: 1
    }
  }

  .modal-footer {
    margin-top: 30px

    button {
      position: relative
      appearance: none
      border: none
      width: 80px
      height: 30px
      margin-left: -10px
      background: none
      outline: none

      &:hover {
        opacity: .4;
      }
    }

    .select-button {
      color: #1571ee
    }
  }
}
