.main-table(ng-style="$ctrl.tableWidthStyle()")
  .main-grid(ui-grid="{ data: $ctrl.allItems, enableFiltering: true }" ng-hide="$ctrl.state.active.dividerPercent < 2" ui-grid-auto-resize ui-grid-edit ui-grid-resize-columns ui-grid-empty-base-layer)
.main-canvas(ng-style="$ctrl.canvasWidthStyle()")
  ul.nav.nav-tabs.class-nav
    li(ng-repeat="clss in $ctrl.getActiveClasses()" ng-class="{ active: $ctrl.selectedClass === clss }")
      a(ng-click="$ctrl.selectedClass = clss") {{ clss.labels | prefLang }}
  .filter-area(ng-repeat="clss in $ctrl.getActiveClasses()" ng-show="$ctrl.selectedClass === clss")
    h3.filter-heading Add filter on {{ clss.labels | prefLang }}
    button.btn.btn-default.add-by-type.disabled Map
    button.btn.btn-default.add-by-type.disabled Timeline
    button.btn.btn-default.add-by-type.disabled Timespan
    .btn-group.add-by-property(uib-dropdown)
      button.btn.btn-default.dropdown-toggle(uib-dropdown-toggle) on property&nbsp;
        span.caret
      ul.dropdown-menu(uib-dropdown-menu)
        li(ng-repeat="prop in clss.properties")
          a(ng-click="$ctrl.addFilter(clss, prop)") {{ prop.labels | prefLang }}
    hr
    .filter(ng-repeat="(propId, filter) in $ctrl.localFilterTree[clss.value] track by propId+filter.domain[0]+filter.domain[1]" ng-show="filter.domain" ng-init="slideMin = $ctrl.slideOptionsFromFilter(filter).floor; slideMax=$ctrl.slideOptionsFromFilter(filter).ceil; slideOptions=$ctrl.slideOptionsFromFilter(filter)")
      .filter-container
        .filter-header
          .filter-title {{ filter.description }}: {{ $ctrl.state.project.project.dataModel.propertyMap.s[propId].labels | prefLang }}
          .filter-inputs
            input.timeline-input(type="number" min="0" max="2500" ng-model="slideMin" ng-change="$ctrl.changeMinSlider()")
            span.filter-input-text &nbsp;to&nbsp;
            input.timeline-input(type="number" min="0" max="2500" ng-model="slideMax" ng-change="$ctrl.changeMaxSlider()")
          .filter-controls
            img.minimise-filter(src=require("images/filter/minimise.svg") ng-init="minimised = false" ng-click="minimised = !minimised")
            img.remove-filter(src=require("images/filter/remove.svg") ng-click="$ctrl.removeFilter(filter.clss, filter.prop)")
        .filter-box(ng-class="minimised ? 'filter-min' : ''")
          .filter-graph
            svg(ng-attr-height="$ctrl.histogramHeight" ng-attr-width="$ctrl.histogramWidth")
              g(ng-attr-fill="silver")
                rect(ng-repeat="rectangle in $ctrl.histogramRectangles" ng-attr-x="{{rectangle.x}}" ng-attr-y="{{rectangle.y}}" ng-attr-width="{{rectangle.w}}" ng-attr-height="{{rectangle.h}}")
          rzslider(rz-slider-model="slideMin", rz-slider-high="slideMax", rz-slider-options="slideOptions")
.draggable-divider(drag-container="true" on-drag-end="dragging = false; $ctrl.dragDivider($event)" ng-style="$ctrl.dragTabLeftStyle()")
  .drag-tab(ng-hide="$ctrl.filterActionService.filter.dividerPercent > 2 && $ctrl.filterActionService.filter.dividerPercent < 98")
