filter {

  display: inline-block
  height: 100%
  width: 100%

  .draggable-divider {
    top: 0%
    left: 0%
    margin-left: -3px
    width: 6px
    height: 100%
    opacity: 0.5
    background-color: gray
    position: absolute
  }

  .drag-tab {
    top: 45%
    left: 0%
    padding: 0.5em 1em 0.5em 1em
    width: 30px
    margin-left: -12px
    height: 100px
    background-color: gray
    position: absolute
    border-style: solid solid solid solid
    border-width: 1px
    border-color: black
    border-radius: 3px 3px 3px 3px
  }

  .ui-grid {
    border-width: 0px
    border-style: none
  }

  .filter-header {
    //position: relative
    height: 20px
    margin-bottom: 10px
    padding: 0 10px 0 10px

    .filter-title {
      float: left
      color: #A9A9A9
    }

    .filter-controls {
      float: right

      .minimise-filter {
        padding: 10px 5px 10px 5px
        width: 29px
        height: auto
      }

      .remove-filter {
        padding: 5px
        width: 24px
        height: auto
      }

      img {
        opacity: 0.3

        &:hover {
          opacity: 0.1
        }
      }
    }
  }

  .filter-box {
    height: 230px
    border: 1px solid #ccc
    border-radius: 6px
    padding: 30px
    margin-bottom: 50px
    box-shadow: 0 2px 5px 0 #DCDCDC

    .rzslider {
      .rz-bar {
        background: rgba(0, 99, 255, 0.05)
        height: 100px
        width: 100%
      }

      .rz-selection {
        background: rgba(0, 99, 255, 0.3)
      }

      .rz-pointer {
        width: 8px
        height: 100px
        top: 0
        background-color: #2d7efc
        border-radius: 0px
        outline: none
      }

      .rz-pointer:after {
        display: none
      }

      .rz-tick {
        width: 2px
        height: 10px
        margin-left: 4px
        border-radius: 0
        background: rgba(0, 99, 255, 0.05)
        top: 102px
      }

      .rz-tick.rz-selected {
        background: #2d7efc
      }
    }
  }

  .main-table {
    height: 100%
    width: 0%
    position: absolute
    padding-bottom: 3em

    .main-grid {
      height: 100%
      width: 100%
    }
  }

  .main-canvas {
    height: 100%
    width: 100%
    position: absolute
    padding-bottom: 3em

    .class-nav {
      margin-top: 2em

      li:first-child {
        margin-left: 2em
      }
    }

    .filter-area {
      height: 100%
      width: 100%
      background-color: white
      padding: 2em 2em 5.5em 2em
      overflow-y: scroll

      .filter-heading {
        display: inline-block
      }

      .add-by-property {
        float: right
        margin-top: 1em
        margin-right: 1em
      }

      .add-by-type {
        float: right
        width: 8em
        margin-top: 1em
        margin-right: 1em
      }
    }
  }
}
