@require './project/project.styl'
@require './sources/sources.styl'
@require './active/active.styl'
@require './filter/filter.styl'
@require './projects-view/projects-view.styl'
@require './configure-view/configure-view.styl'
@require './citable-editor/citable-editor.styl'
@require './add-source/add-source.styl'
@require './expand-modal/expand-modal.styl'
@require './bibliography-modal/bibliography-modal.styl'
@require './snapshot-warning-modal/snapshot-warning-modal.styl'
