.container
  h1 Fibra
  h2 Edit schema
  citable-editor(citable="$ctrl.c")
  .form-group
    label Project storage
    select.form-control(ng-model="$ctrl.projectSource",ng-options="ps as ps.id for ps in $ctrl.projectSources")
  .form.group
    label schema endpoint
    input.form-control(type="text",ng-model="$ctrl.c.endpoint")
  .form-group
    label Class query template
    yasqe(content="$ctrl.c.classQuery",on-content-changed="$ctrl.c.classQuery = content")
  .form-group
    label Property query template
    yasqe(content="$ctrl.c.propertyQuery",on-content-changed="$ctrl.c.propertyQuery = content")
  button.btn.btn-success(ng-click="$ctrl.save()",ng-disabled="$ctrl.disabled") Save to endpoint
  button.btn.btn-danger(ng-click="$ctrl.delete()",ng-disabled="$ctrl.disabled") Delete
