script(type="text/ng-template",id="sparql-item-popover")
  sparql-item(endpoint='$ctrl.endpoint',item-id='value',show-remote-properties='true')

h4 {{$ctrl.item.label.value}}
a(ng-click="$ctrl.addItem()") +

table.table.table-striped
  tr(ng-repeat="property in $ctrl.item.localProperties")
    th {{property.label ? property.label.value : property.value}}
    td: span(ng-repeat="value in property.values",ng-click="$ctrl.onSelect({value: value})",uib-popover-template="'sparql-item-popover'",popover-trigger="mouseenter",popover-placement="right") {{value.label ? value.label.value : value.value}}
      i.glyphicon.glyphicon-triangle-top(ng-repeat="endpoint in value.sourceEndpoints",ng-class="endpoint.class")
      | {{ $last ? '' : ', ' }}

i.glyphicon.glyphicon-chevron-down(ng-click="$ctrl.showRemoteProperties=!$ctrl.showRemoteProperties")
table.table.table-striped(ng-show="$ctrl.showRemoteProperties")
  tr(ng-repeat="property in $ctrl.item.remoteProperties")
    th {{property.label ? property.label.value : property.value}}
    td: span(ng-repeat="value in property.values",ng-click="$ctrl.onSelect({value: value})",uib-popover-template="'sparql-item-popover'",popover-trigger="mouseenter",popover-placement="right") {{value.label ? value.label.value : value.value}}
      i.glyphicon.glyphicon-triangle-top(ng-repeat="endpoint in value.sourceEndpoints",ng-class="endpoint.class")
      | {{ $last ? '' : ', ' }}
