.modal-header
  h4.modal-title#modal-title {{ $ctrl.resolve.project.labels | prefLang }}
.modal-body#modal-body
  label question here
.modal-footer
  button.cancel-button.transition-200(ng-click="$ctrl.cancel()") Cancel
  button.select-button.transition-200(ng-click="$ctrl.commit()") Select
