project-delete-modal

  .modal-body

  .modal-footer
    margin-top: 30px

    button
      position: relative
      appearance: none
      border: none
      width: 80px
      height: 30px
      background: none
      outline: none

      &:hover
        opacity: .4;

    .select-button
      color: #1571ee
