.container-fluid.main
  .row.main.no-gutter
    .col-md-12
      .row.no-gutter
        #type-bar.col-md-12
          tree(tree="$ctrl.classTree",on-select="$ctrl.alterSelection(treeNode)")
      .row.no-gutter
        #middle-column.col-md-12
          explore(class-tree-promise="$ctrl.classTreePromise", selected-item="$ctrl.selectedItem")
          sparql-autocomplete(limit="5",by="group",on-select="$ctrl.createItem(result)")#searchbar
