.container
  h3 Select configuration
  ul: li(ng-repeat="configuration in $ctrl.configurations")
    h4: a(ng-click="$ctrl.setConfiguration(configuration)") {{configuration.name}}
    h5 Configured Authorities:
    ul.list-inline: li(ng-repeat="endpoint in configuration.authorityEndpoints") {{endpoint.title}}
    h5 Configured Archives:
    ul.list-inline: li(ng-repeat="endpoint in configuration.archiveEndpoints") {{endpoint.title}}
