div#explorecontainer
  svg#explore
  
div
  table#exploretable
    tr
      th Label
      th(ng-repeat="p in $ctrl.properties") {{ p.value }}
      th Actions
    tr(ng-repeat="item in $ctrl.items")
      td(ng-click="$ctrl.selectItem(item)") {{ item.label.value }}
      td(ng-repeat="p in item.properties", ng-click="$ctrl.selectItem(item)") {{ p.values[0].label.value }}
      td
        a(ng-click="$ctrl.delete(item)") Delete
