table
  tr
    th Label
    th(ng-repeat="p in $ctrl.properties") {{ p.value }}
  tr(ng-repeat="item in $ctrl.items")
    td {{ item.label.value }}
    td(ng-repeat="p in item.properties") {{ p.values[0].label.value }}

svg#explore