ul.nav.nav-tabs
  li(role="presentation", ng-class="{ 'active': mode==='table' }")
    a(ng-click="mode='table'") Table
  li(role="presentation", , ng-class="{ 'active': mode==='explore' }")
    a(ng-click="mode='explore'") Explore

div(ng-show="mode==='table'", ng-init="mode='table'")
  table
    tr
      th Label
      th(ng-repeat="p in $ctrl.properties") {{ p.value }}
      th Actions
    tr(ng-repeat="item in $ctrl.items")
      td(ng-click="$ctrl.selectItem(item)") {{ item.label.value }}
      td(ng-repeat="p in item.properties", ng-click="$ctrl.selectItem(item)") {{ p.values[0].label.value }}
      td
        a(ng-click="$ctrl.delete(item)") Delete

div(ng-show="mode==='explore'")
  svg(width="100%", height="400px")#explore