html
  body
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container-fluid
        .navbar-header
          .navbar-brand Fibra
    .container-fluid.main
      .row.main.no-gutter
        #left-column.col-md-2 Left
        #middle-column.col-md-7 Middle
        #right-column.col-md-3 Right