html
  body(ng-app="fibra")
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container-fluid
        .navbar-header
          .navbar-brand
            img(src="images/fibra.png" height="23px")
    .container-fluid.main
      .row.main.no-gutter
        #left-column.col-md-3
          h4 Configure autocompletion
          uib-tabset(vertical="true")
            uib-tab(ng-repeat="configuration in $ctrl.configurations",heading="{{configuration.title}}",select="$ctrl.selectTab(configuration)")
              span.glyphicon.glyphicon-refresh.fa-spin(ng-show="!configuration.classTree")
              .checkbox: label
                input(type="checkbox",ng-model="configuration.allSelected",ng-click="configuration.toggleAll();$event.stopPropagation()")
                | all
              tree(tree="configuration.classTree",on-select="configuration.alterSelection(treeNode)")
        #middle-column.col-md-4
          h4 Autocompletion
          sparql-autocomplete(configurations="$ctrl.autocompletionConfigurations",limit="30",on-select="$ctrl.setItem(result.id,result.datasource.configuration.endpoint)")
        #right-column.col-md-5
          h4 Item
          sparql-item(endpoint="$ctrl.itemEndpoint",item-id="$ctrl.itemId",on-select="$ctrl.setItem(value.node.value,$ctrl.itemEndpoint)")
