h4 {{$ctrl.item.label}} ({{$ctrl.item.id}})

table.table.table-striped
  tr(ng-repeat="property in $ctrl.item.properties")
    th {{property.label ? property.label : property.value}}
    td: span(ng-repeat="value in property.values",ng-click="$ctrl.onSelect({value: value})") {{value.label ? value.label : value.value}}{{ $last ? '' : ', ' }}
