  
  <!-- Palladio style and js -->
    <link type="text/css" href="{{ site.baseurl }}/public/css/palladio-brick.css" rel="stylesheet" />
    <link type="text/css" href="{{ site.baseurl }}/palladio/bower_components/palladio-metavis-component/dist/palladio-metavis-component.css" rel="stylesheet" />

    <script src="{{ site.baseurl }}/palladio/bower_components/palladio/palladio.js"></script>
    <script src="{{ site.baseurl }}/palladio/bower_components/palladio-metavis-component/dist/palladio-metavis-component.js"></script>
    

