
 <!-- Palladio style and js -->
<link type="text/css" href="{{ site.baseurl }}/public/css/palladio-brick.css" rel="stylesheet" />
<link type="text/css" href="{{ site.baseurl }}/palladio/bower_components/palladio-timeline-component/dist/palladio-timeline-component.css" rel="stylesheet" />
<link type="text/css" href="{{ site.baseurl }}/palladio/bower_components/palladio-facet-component/dist/palladio-facet-component.css" rel="stylesheet" />
<link type="text/css" href="{{ site.baseurl }}/palladio/bower_components/palladio-timespan-component/dist/palladio-timespan-component.css" rel="stylesheet" />
<link type="text/css" href="{{ site.baseurl }}/palladio/bower_components/palladio-graph-component/dist/palladio-graph-component.css" rel="stylesheet" />
<link type="text/css" href="{{ site.baseurl }}/palladio/bower_components/palladio-map-component/dist/palladio-map-component.css" rel="stylesheet" />
<link type="text/css" href="{{ site.baseurl }}/palladio/bower_components/palladio-table-component/dist/palladio-table-component.css" rel="stylesheet" />
<link type="text/css" href="{{ site.baseurl }}/palladio/bower_components/palladio-cards-component/dist/palladio-cards-component.css" rel="stylesheet" />
<script src="{{ site.baseurl }}/palladio/bower_components/palladio/palladio.min.js"></script>
<script src="{{ site.baseurl }}/palladio/bower_components/palladio-timeline-component/dist/palladio-timeline-component.min.js"></script>
<script src="{{ site.baseurl }}/palladio/bower_components/palladio-facet-component/dist/palladio-facet-component.min.js"></script>
<script src="{{ site.baseurl }}/palladio/bower_components/palladio-timespan-component/dist/palladio-timespan-component.min.js"></script>
<script src="{{ site.baseurl }}/palladio/bower_components/palladio-graph-component/dist/palladio-graph-component.min.js"></script>
<script src="{{ site.baseurl }}/palladio/bower_components/palladio-map-component/dist/palladio-map-component.min.js"></script>
<script src="{{ site.baseurl }}/palladio/bower_components/palladio-table-component/dist/palladio-table-component.min.js"></script>
<script src="{{ site.baseurl }}/palladio/bower_components/palladio-cards-component/dist/palladio-cards-component.js"></script>

