<footer class ="footer">
  <div class="columnflow3">
  <p>
      <img width="200px" src ="{{site.baseurl}}/img/neh_logo_rev.png" />
  </p>
  <p id="acknowledge">Mapping the Republic of Letters has received funding from the National Endowment for the Humanities and the Stanford Presidential Fund for Innovation in the Humanities.</p>  
        <p id="grant"><a href="http://stanford.edu"><img class="pull-right" width="100px" src ="{{site.baseurl}}/img/SUSig_White.png" /></a></p>  
    </div> 
</footer>
<!-- Overlay spinner from https://codepen.io/MattIn4D/pen/LiKFC -->
<div class="loading">Loading&#8230;</div>