  <header>
    <nav class="navbar navbar-sub navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <span class="navbar-brand"><h1><a href="http://republicofletters.stanford.edu">Mapping the Republic of Letters</a><span class="subhead">{{ page.project-title }}</span></h1></span>
        </div><!-- navbar-header -->
        <div class="collapse navbar-collapse" id="collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#featured"></a></li>
            <li><a href="../#introduction">Introduction</a></li>
            <li id ="index-button"><a>Project Index</a></li>
            <li><a href="../#umbrella">About</a></li>
          </ul>        
        </div><!-- collapse navbar-collapse -->
        <!-- <div class="collapse navbar-collapse" id="collapse"> -->
          <!-- <span class="nav navbar-nav navbar-right"> -->
              <!-- <div id="index-button">Project Index</div> -->
          <!-- </span>         -->
        </div><!-- collapse navbar-collapse -->
      </div><!-- container -->
    </nav>
  </header>