construct-view {
  .dragLine {
    stroke: #ff3333
    stroke-width: 1px
    stroke-dasharray: 3,3
  }

  #menu-bar {
    position: fixed
    z-index: 1
    width: 100%
    background-color: initial
    height: 22px
    min-height: initial
  }

  .tooltip {
    position: absolute
    z-index: 20
    visibility: hidden
    color: black
    background-color: gray
    padding: 2px
    border-radius: 2px
  }

  .node-container {
    width: 50px;
    height: 50px;
  }

  .node-circle {
    transition: .2s
    fill: none
    stroke: grey
  }

  .node-circle {
    stroke: darken(gray, 50%)
  }

  .node-circle.labeled {
    fill: lighten(gray, 50%)
  }

  .node-circle.verified {
    fill: darken(gray, 50%)
  }

  .node.secondary {
    opacity: 0.5
  }

  .node-circle.untyped {
    fill: none
    stroke: grey
    stroke-dasharray: 0.9
  }

  .node-circle:hover {
    r: 11px
    z-index: 100
  }

  .selected-circle {
    fill: green !important
  }

  .not-selected {

  }

  .node-circle:hover {
    fill: red
    cursor: pointer
  }

  #type-bar {
    padding-left: 0px;
  }

  #type-bar li {
    display: inline-block
  }

  #menu-icons {
    margin-left: 1em

    .btn-group {
      margin-left: 0.5em
    }
  }

  #searchbar {
    position: absolute
    width: 500px
    background-color: gray
    border: 1px solid white
    text-align: center
    color: black
    border-radius: 6px
  }

  #searchbar ul {
    text-align: left
  }

  #searchbar li {
    list-style-type: none
    border-bottom: 1px solid white
    margin-bottom: 3px
    cursor: pointer
  }

  #searchbar li:hover {
    background-color: white
  }

  #searchbar input {
    background: #a6a6a6
    width: 500px
    color: white
    border-radius: 6px
  }

  #explorecontainer {
    background-color: #f2f2f2
    border-bottom: 3px solid #d2d2d2
  }

  .exploretable {
    width: initial
    max-width: initial
  }

  .property-popover {
    position: absolute;
    z-index: 20;
    background-color: lighten(gray, 50%);
    color: white;
    padding: 3px;
    min-width: 160px
    border-radius: 2px;

    .form-group {
      margin-bottom: 0px
    }

    .control-label {
      font-variant-caps: small-caps
      min-width: 150px

      .btn, a, .btn.dropdown-toggle {
        font-variant: normal
        background-color: lighten(gray, 50%)
        border: 0px
        box-shadow: inset 0 0px 0px
        color: darken(gray, 25%)
      }

      input.form-control {
        padding: 3px
        font-size: 12px
        border: 0px
        border-radius: 0px
        font-weight: normal
      }

      a:hover {
        background-color: lighten(gray, 40%)
      }

      ul.dropdown-menu {
        padding: 0px
        margin: 0px
        min-width: 0px
        border-radius: 0px
        border: 0px
        background-color: lighten(gray, 50%)
        font-size: 12px
      }

      .dropdown-menu > li > a {
        padding-left: 10px
      }

      .label-input {
        width: 110px
        height: 25px
        font-variant: normal
      }
    }
  }

  .inner-palette-container {
    height: 100%
    text-align: center

    .palette-filter {
      padding: 3px
      font-size: 12px
      border: 0px
      border-radius: 0px
      font-weight: normal
    }
  }

  #palette-container.ng-hide {
    transition: 0.15s linear all;
    width: 0%;
    display: initial
  }

  #palette-container {
    transition: 0.15s linear all;
    opacity: 1;
    width: 15%
    height: 100%
    background-color: darken(gray, 30%)
    position: fixed
    top: 0px
    left: 0px
    z-index: 3
  }

  #palette-tab {
    transition: 0.15s linear all;
    position: fixed
    top: 40%
    left: 15%
    z-index: 3
    height: 10%
    width: 20px
    border-top-right-radius: 5px
    border-bottom-right-radius: 5px
    background-color: darken(gray, 30%)
  }

  #palette-tab.closed {
    transition: 0.15s linear all;
    display: initial
    left: 0px
  }

  .palette {
    circle.item.displayed {
      opacity: 0.3
    }
    circle.item.filtered {
      opacity: 0.1
    }
  }

  #verifycontainer.ng-hide {
    transition: 0.15s linear all;
    width: 0%
    display: initial
  }

  #verifycontainer {
    transition: 0.15s linear all;
    opacity: 1;
    width: 35%
    height: 100%
    background-color: darken(gray, 30%)
    float: right
    position: fixed
    top: 0px
    right: 0px
    z-index: 3

    .verify-cancel {
      margin-left: 0.5em
    }

    .verify-header {
      background-color: #cf5d5d
      font-variant-caps: all-small-caps
      font-size: 1.5em
      text-align: center
      color: darken(white, 10%)
      padding-bottom: 0.25em
    }

    .verify-content {
      color: black
      margin: 2em
    }

    .verify-result-group {
      margin-top: 2em
    }

    .verify-result-group-header {
      text-align: center
      font-variant-caps: all-small-caps
      font-size: 1.5em
      font-weight: bold
      margin-bottom: 0.5em
    }

    .verify-result {
      list-style-type: none
      padding: 0.25em

      button {
        margin-right: 0.5em 
      }
    }
  }
}
