.container-fluid.main
  .row.main.no-gutter
    .col-md-12
      .row.no-gutter
        #type-bar.col-md-12
          explore-type(types="$ctrl.types", chosen-types="$ctrl.chosenTypes")
        .pull-right
          span.glyphicon.glyphicon-refresh.fa-spin(ng-show="$ctrl.state.actionsRunning > 0")
          span(ng-repeat="endpoint in $ctrl.endpoints")
            i.glyphicon.glyphicon-triangle-top(ng-class="endpoint.class")
            | {{endpoint.title}}
      .row.no-gutter
        #middle-column.col-md-12
          explore(chosen-types="$ctrl.chosenTypes", selected-item="$ctrl.selectedItem")
          sparql-autocomplete(limit="5",by="group",on-select="$ctrl.createItem(result)")#searchbar
