.container-fluid.main
  .row.main.no-gutter
    .col-md-12
      #menu-bar.row.no-gutter
        #type-bar.col-md-12
          explore-type
        .pull-right
          span.glyphicon.glyphicon-refresh.fa-spin(ng-show="$ctrl.state.actionsRunning > 0")
      .row.no-gutter
        #middle-column.col-md-12
          explore(selected-item="$ctrl.selectedItem")
          sparql-autocomplete(limit="5",constraints="$ctrl.limitFilter",query-remote,on-select="$ctrl.createItem(result)")#searchbar
