nav#menu-bar.navbar.navbar-default.navbar-static-top
  #type-bar.pull-left
    explore-type
  #menu-icons.pull-left
    span.btn-group
      button.btn.btn-xs.disabled
        span.glyphicon.glyphicon-link(aria-hidden="true")
    span.btn-group
      button.btn.btn-xs.disabled
        span.glyphicon.glyphicon-zoom-in(aria-hidden="true")
      button.btn.btn-xs.disabled
        span.glyphicon.glyphicon-zoom-out(aria-hidden="true")
    span.btn-group
      button.btn.btn-xs.disabled
        span.glyphicon.glyphicon-upload(aria-hidden="true")
      button.btn.btn-xs(ng-click="$ctrl.downloadRDF()")
        span.glyphicon.glyphicon-download(aria-hidden="true")
  .pull-right
    span.glyphicon.glyphicon-refresh.fa-spin(ng-show="$ctrl.state.actionsRunning > 0")
.container-fluid.main
  .row.main.no-gutter
    .col-md-12
      #middle-column.col-md-12
        explore(selected-item="$ctrl.selectedItem")
        sparql-autocomplete(limit="5",constraints="$ctrl.limitFilter",query-remote,on-select="$ctrl.createItem(result)")#searchbar
#palette-container(ng-show="$ctrl.paletteDisplay")
  palette
#palette-tab(ng-class="{closed: !$ctrl.paletteDisplay }" ng-click="$ctrl.paletteDisplay = !$ctrl.paletteDisplay")
