construct-view {
  .dragLine {
    stroke: #ff3333
    stroke-width: 1px
    stroke-dasharray: 3,3
  }

  .tooltip {
    position: absolute
    z-index: 20
    visibility: hidden
    color: black
    background-color: gray
    padding: 2px
    border-radius: 2px
  }

  .node-container {
    width: 50px;
    height: 50px;
  }

  .node-circle {
    transition: .2s
  }

  .node-circle.primary {
    fill: darken(gray, 50%)
  }

  .node-circle.secondary {
    fill: lighten(gray, 50%)
  }

  .node-circle:hover {
    r: 11px
    z-index: 100
  }

  .selected-circle {
    fill: green !important
  }

  .not-selected {

  }

  .node-circle:hover {
    fill: red
    cursor: pointer
  }

  #searchbar {
    position: absolute
    width: 500px
    background-color: gray
    border: 1px solid white
    text-align: center
    color: black
    border-radius: 6px
  }

  #searchbar ul {
    text-align: left
  }

  #searchbar li {
    list-style-type: none
    border-bottom: 1px solid white
    margin-bottom: 3px
    cursor: pointer
  }

  #searchbar li:hover {
    background-color: white
  }

  #searchbar input {
    background: #a6a6a6
    width: 500px
    color: white
    border-radius: 6px
  }
}
