div#explorecontainer
  svg#explore

div#layout-choice
  label Force
    input(type="radio" ng-model="layout.choice" value="force")
  label Force Grid
    input(type="radio" ng-model="layout.choice" value="forcegrid")
div#link-options
  label Show
    input(type="radio" ng-model="layout.links" value="show")
  label Hide
    input(type="radio" ng-model="layout.links" value="hide")
div#tablecontainer
  explore-table(primary-items="$ctrl.primaryItems" secondary-items="$ctrl.secondaryItems")
div#verifycontainer(ng-show="$ctrl.verifyItem")
  verify(node="$ctrl.verifyItem")
