div
  div.form-group
    label.control-label(for="typeSelect") Type
      div.btn-group(uib-dropdown)
        button#single-button.btn.btn-primary.btn-xs(type="button" uib-dropdown-toggle ng-disabled="disabled") {{ $ctrl.chosenType.label }}&nbsp;
          span.caret
        ul.dropdown-menu(uib-dropdown-menu role="menu" aria-labelledby="single-button")
          li(role="menuitem" ng-repeat="type in $ctrl.types")
            a(ng-click="$ctrl.typeClick(type)") {{type.label}} ({{type.instances}})
  div.form-group
    lable.control-label(for="labelField") Label
      input.form-control(type="text" ng-model="$ctrl.label")