expand-modal {

  p {
    width: 300px
    margin-top: 15px
  }

  .modal-footer {
    margin-top: 30px

    button {
      position: relative
      appearance: none
      border: none
      width: 80px
      height: 30px
      margin-left: -10px
      background: none
      outline: none

      &:hover {
        opacity: .4;
      }
    }

    .select-button {
      color: #1571ee
    }
  }
}
