.modal-header
  h4.modal-title#modal-title Properties of {{ $ctrl.itemState.description }}
.modal-body#modal-body
  ul
    li(ng-repeat="propValues in $ctrl.itemProperties")
      span.property-name {{ propValues.property.labels | prefLang }}
      span.property-results {{ propValues.values.length }}
      button.expand-button.text-button.transition-100(ng-click="$ctrl.expand(propValues)") Expand
.modal-footer
  button.cancel-button.transition-200(ng-click="$ctrl.cancel()") Cancel
//-   button.select-button.transition-200(ng-click="$ctrl.commit()") Select
