doctype html
html(lang="en",ng-app="fibra",ng-hint)
  head
    meta(charset="utf-8")
    meta(name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width")
    // build:css(app) styles/vendor.css
    // bower:css
    link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='bower_components/font-awesome/css/font-awesome.css')
    // endbower
    // endbuild
    // build:css(.tmp) styles/main.css
    link(rel="stylesheet" href="styles/main.css")
    // endbuild

    title Fibra
  body
    .modal(ng-class="authInfo.authOpen ? 'modal-open fade in' : ''",ng-style="authInfo.authOpen ? {display:'block'} : {}"): .modal-dialog(ng-show="authInfo.authOpen"): form.modal-content
      .modal-header: h4.modal-title Authentication required
      .modal-body
        .form-group
          label Username:
          input.form-control(type='text', ng-model="authInfo.username")
        .form-group
          label Password:
          input.form-control(type='password', ng-model="authInfo.password")
      .modal-footer
          button.btn.btn-success(ng-click="setAuth()") Ok
          button.btn.btn-danger(ng-click="dismissAuth()") Cancel
    //- nav.navbar.navbar-inverse.navbar-fixed-top
    //-   .container-fluid
    //-     .navbar-header
    //-       .navbar-brand
    //-         img(src="images/fibra.png" height="23px")
    //-     .nav.navbar-nav
    //-       li
    //-         a(ui-sref="author") Author
          //li
            a(ui-sref="configuration") Configure
    div(ui-view)
    // build:js(app) scripts/vendor.js
    // bower:js
    script(src='bower_components/angular/angular.js')
    script(src='bower_components/jquery/dist/jquery.js')
    script(src='bower_components/angular-ui-router/release/angular-ui-router.js')
    script(src='bower_components/angular-http-auth/src/http-auth-interceptor.js')
    script(src='bower_components/angular-sparql-service/dist/sparql-service.js')
    script(src='bower_components/ngstorage/ngStorage.js')
    script(src='bower_components/angular-bootstrap/ui-bootstrap-tpls.js')
    script(src='bower_components/d3/d3.js')
    // endbower
    // endbuild

    // build:js(.tmp) scripts/main.js
    script(src="components/app/app-configuration-ui.js")
    // inject:scripts
    script(src="components/app-configuration-ui.js")
    script(src="components/collection-utils.js")
    script(src="components/sparql-tree-service.js")
    script(src="components/sparql-update-service.js")
    script(src="components/app/app-configuration-common.js")
    script(src="components/app/configuration-service.js")
    script(src="components/app/fibra-service.js")
    script(src="components/configure-view/configure-view-component.js")
    script(src="components/author-view/author-view-component.js")
    script(src="components/construct-view/construct-view-component.js")
    script(src="components/construct-view/explore-component.js")
    script(src="components/construct-view/sunburst.js")
    script(src="components/rdf/rdf.js")
    script(src="components/rdf/rdfjs.js")
    script(src="components/select-view/select-view-component.js")
    script(src="components/sparql-autocomplete/sparql-autocomplete-component.js")
    script(src="components/sparql-autocomplete/sparql-autocomplete-service.js")
    script(src="components/sparql-item/sparql-item-component.js")
    script(src="components/sparql-item/sparql-item-service.js")
    script(src="components/tree/tree-component.js")
    script(src="components/type-select/type-select-component.js")
    script(src="components/worker-service/worker-service.js")
    script(src="components/construct-view/explore-type-component/explore-type-component.js")
    // endinject
    // inject:partials
    // endinject
    // endbuild
    .uib-modal-backdrop.fade.in(ng-show="authInfo.authOpen")
