doctype html
html(lang="en",ng-app="fibra",ng-hint)
  head
    meta(charset="utf-8")
    meta(name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width")
    // build:css(app) styles/vendor.css
    // bower:css
    link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.css')
    // endbower
    // endbuild
    // build:css(.tmp) styles/main.css
    link(rel="stylesheet" href="styles/main.css")
    // endbuild

    title app
  body
    .modal(ng-class="authOpen ? 'modal-open fade in' : ''",ng-style="authOpen ? {display:'block'} : {}"): .modal-dialog(ng-show="authOpen"): form.modal-content
      .modal-header: h4.modal-title Authentication required
      .modal-body
        .form-group
          label Username:
          input.form-control(type='text', ng-model="username")
        .form-group
          label Password:
          input.form-control(type='password', ng-model="password")
      .modal-footer
          button.btn.btn-success(ng-click="setAuth()") Ok
          button.btn.btn-danger(ng-click="dismissAuth()") Cancel
    // build:js(app) scripts/vendor.js
    // bower:js
    script(src='bower_components/angular/angular.js')
    script(src='bower_components/jquery/dist/jquery.js')
    script(src='bower_components/angular-ui-router/release/angular-ui-router.js')
    script(src='bower_components/angular-http-auth/src/http-auth-interceptor.js')
    script(src='bower_components/bootstrap/dist/js/bootstrap.js')
    // endbower
    // endbuild

    // build:js(.tmp) scripts/main.js
    script(src="scripts/app.js")
    script(src="scripts/main-ctrl.js")
    // inject:partials
    // endinject
    // endbuild
    main(ui-view="")
    .uib-modal-backdrop.fade.in(ng-show="authOpen")
