doctype html
html(lang="en",ng-app="fibra",ng-hint)
  head
    meta(charset="utf-8")
    meta(name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width")
    // build:css(app) styles/vendor.css
    // bower:css
    link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='bower_components/font-awesome/css/font-awesome.css')
    // endbower
    // endbuild
    // build:css(.tmp) styles/main.css
    link(rel="stylesheet" href="styles/main.css")
    // endbuild

    title Fibra
  body
    .modal(ng-class="authInfo.authOpen ? 'modal-open fade in' : ''",ng-style="authInfo.authOpen ? {display:'block'} : {}"): .modal-dialog(ng-show="authInfo.authOpen"): form.modal-content
      .modal-header: h4.modal-title Authentication required
      .modal-body
        .form-group
          label Username:
          input.form-control(type='text', ng-model="authInfo.username")
        .form-group
          label Password:
          input.form-control(type='password', ng-model="authInfo.password")
      .modal-footer
          button.btn.btn-success(ng-click="setAuth()") Ok
          button.btn.btn-danger(ng-click="dismissAuth()") Cancel
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container-fluid
        .navbar-header
          .navbar-brand
            img(src="images/fibra.png" height="23px")
        .nav.navbar-nav
          li
            a(ui-sref="author") Author
          //li
            a(ui-sref="configuration") Configure
    div(ui-view)
    // build:js(app) scripts/vendor.js
    // bower:js
    script(src='bower_components/angular/angular.js')
    script(src='bower_components/jquery/dist/jquery.js')
    script(src='bower_components/angular-ui-router/release/angular-ui-router.js')
    script(src='bower_components/angular-http-auth/src/http-auth-interceptor.js')
    script(src='bower_components/angular-sparql-service/dist/sparql-service.js')
    script(src='bower_components/ngstorage/ngStorage.js')
    script(src='bower_components/angular-bootstrap/ui-bootstrap-tpls.js')
    // endbower
    // endbuild

    // build:js(.tmp) scripts/main.js
    script(src="scripts/app-configuration-ui.js")
    // inject:scripts
    script(src="scripts/app-configuration-common.js")
    script(src="scripts/author-component.js")
    script(src="scripts/collection-utils.js")
    script(src="scripts/configuration-service.js")
    script(src="scripts/explore-component.js")
    script(src="scripts/fibra-service.js")
    script(src="scripts/rdf.js")
    script(src="scripts/rdfjs.js")
    script(src="scripts/sparql-autocomplete-component.js")
    script(src="scripts/sparql-autocomplete-service.js")
    script(src="scripts/sparql-item-component.js")
    script(src="scripts/sparql-item-service.js")
    script(src="scripts/sparql-tree-service.js")
    script(src="scripts/sparql-update-service.js")
    script(src="scripts/tree-component.js")
    script(src="scripts/worker-service.js")
    // endinject
    // inject:partials
    // endinject
    // endbuild
    .uib-modal-backdrop.fade.in(ng-show="authInfo.authOpen")
