doctype html
html(lang="en",ng-app="fibra",ng-hint)
  head
    meta(charset="utf-8")
    meta(name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width")
    script(src="https://code.jquery.com/jquery-3.2.1.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.js")
    script(src="https://d3js.org/d3.v4.min.js")
    link(rel="stylesheet" href="styles.css")
    link(rel="icon" type="image/png" href="images/favicon/favicon-32x32.png" sizes="32x32")
    link(rel="icon" type="image/png" href="images/favicon/favicon-16x16.png" sizes="16x16")
    title Data Pen - {{viewName}}
  body
    .container
      .auth-text
        span(ng-bind="socialAuthService.loginState()")
        a(ng-if="!socialAuthService.isLoggedIn()" ui-sref="login") &nbsp;Login
        a(ng-if="socialAuthService.isLoggedIn()" ng-click="socialAuthService.logout()") &nbsp;Log out
    .modal(ng-class="authInfo.authOpen ? 'modal-open fade in' : ''",ng-style="authInfo.authOpen ? {display:'block'} : {}"): .modal-dialog(ng-show="authInfo.authOpen"): form.modal-content
      .modal-header: h4.modal-title Authentication required
      .modal-body
        .form-group
          label Username:
          input.form-control(type='text', ng-model="authInfo.username")
        .form-group
          label Password:
          input.form-control(type='password', ng-model="authInfo.password")
      .modal-footer
          button.btn.btn-success(ng-click="setAuth()") Ok
          button.btn.btn-danger(ng-click="dismissAuth()") Cancel
    //- nav.navbar.navbar-inverse.navbar-fixed-top
    //-   .container-fluid
    //-     .navbar-header
    //-       .navbar-brand
    //-         img(src="images/fibra.png" height="23px")
    //-     .nav.navbar-nav
    //-       li
    //-         a(ui-sref="author") Author
          //li
            a(ui-sref="configuration") Configure
    div(ui-view)
    script(src="common-bundle.js")
    script(src="ui-bundle.js")
    .uib-modal-backdrop.fade.in(ng-show="authInfo.authOpen")
