.row-fluid
  .col-lg-9
    h4 Testing graph view
    div {{selected}}  
    div.graph(graph)
  .col-lg-3
    h4 Nodes ({{data.nodes.length}})
    button.btn.btn-default(ng-click="addNode()") Add node
    button.btn.btn-default(ng-click="removeNode()") Remove node
    button.btn.btn-default(ng-click="selection='antani'") Select node
        
    table.table.table-striped.table-bordered.margin-top
      tbody
        tr(ng-repeat="node in data.nodes")
          td {{node.name}} ({{node.group}})
          td
            a(ng-click="removeNode($index)") Remove
        
