.row
  .col-lg-12
    h4 Load data from a remote
    input.form-control
    h5 Or upload your data
    div(ui-codemirror, ui-codemirror-opts="{lineNumbers:true, onLoad:codemirrorLoaded}", ng-model="text")
