.verify-container
  .verify-header Verify
    .verify-cancel.pull-left(ng-click="$ctrl.clear()") X
  .verify-content
    ul.verify-result-group(ng-repeat="grp in $ctrl.matchingResults")
      .verify-result-group-header {{grp.label}}
      .verify-result(ng-repeat="rslt in grp.results" ng-click="$ctrl.verify(rslt)")
        button.btn.btn-sm(ng-click="$ctrl.verify(rslt)") Verify
        span {{ rslt.prefLabel.value }}