project {
  .main-area {
    position: fixed
    width: 100%
    height: 100%
    padding-top: 4em
    background-color: #f4f4f4
  }
  .top-nav {
    position: fixed
    width: 100%
    height: 4em
    background-color: #fff
    box-shadow: 0px 0px 5px #999
    color: #444
    line-height: initial

    .nav-element {
      display: inline-block
      margin-top: 1.3em
      margin-left: 1em
    }

    .bibliography-link {
      float: right
      margin-right: 1em
    }

    .push-down {
      margin-top: 1.5em
    }

    .bib-icon {
      width: 20px
      height: auto
      margin-left: 1em
      transition: .1s
      -webkit-transition: .1s
      -moz-transition: .1s
      -o-transition: .1s
      cursor: pointer
    }

    .bib-icon:hover {
      opacity: 0.5
    }

    .back-icon {
      width: 20px
      height: auto
      margin-top: -5px
      margin-right: 1em
      margin-left: 1em
      cursor: pointer
    }

    .search {
      float: right
      margin-right: 1em
      margin-top: 1em
    }

    .search-container {
      position: relative
      width: 250px
      height: 20px
      float: right;
      margin: 1em 1em 0 1em

      .search-bar {
        outline: 0
        width: 250px
        padding: 5px 5px 5px 30px
        border: 1px solid rgba(#000, 0.3)
        border-radius: 5px

        &:focus {
          border: 1px solid rgba(#466bd3, 1)
        }
      }

      .search-image {
        position: absolute
        top: 8px
        left: 10px
        width: 12px
        height: auto
        opacity: .5
      }
    }

    .usage {
      float: right
    }

    .usage-chart {
      width: 120px
      float: right
      margin-top: 1.4em

      .progress {
        background-color: #e4e4e4
        height: 0.8em
        margin-top: 0.2em
        box-shadow: none

        .progress-bar {
          background-color: #6c6c6c
        }
      }
    }

    .usage-text {
      float: right
    }

    .muted {
      color: #bbb
    }

    .vertical-divider {
      margin-left: 2em
      margin-right: 1em
    }
  }

  .nav-link {
    cursor: pointer
  }
}
