.main-area
  .control-area
    button.btn.btn-circle.btn-default
      i.glyphicon.glyphicon-plus
    button.btn.btn-circle.btn-default
      i.glyphicon.glyphicon-link
    button.btn.btn-circle.btn-default
      i.glyphicon.glyphicon-pencil
  .table-tab Table View
.top-nav
  .nav-element.return-button
    i.glyphicon.glyphicon-arrow-left
  .nav-element.project-description Physiocrats Project
  .nav-element.vertical-divider.muted |
  span.nav-links
    .nav-element.nav-link.muted Sources
    .nav-element.nav-link.muted Filter
    .nav-element.nav-link.active Active
  .nav-element.bibliography-link Bibliography
  span.usage
    .nav-element.usage-chart
      .progress
        .progress-bar(style="width: 8%")
    .nav-element.usage-text Using 8% of filtered data