.main-area(ng-show="$ctrl.currentView==='active'")
  active
.main-area(ng-show="$ctrl.currentView==='filter'")
  filter
.main-area(ng-show="$ctrl.currentView==='sources'")
  sources
.top-nav
  .nav-element.return-button
    img.back-icon(src="http://thomasricci.com/icons/back@2x.png" ui-sref="projects")
  .nav-element.project-description.push-down {{ $ctrl.actions.project.description.length > 30 ? $ctrl.actions.project.description.substr(0, 27) + '...' : $ctrl.actions.project.description }}
  .nav-element.vertical-divider.muted |
  span.nav-links
    .nav-element.nav-link.push-down(ng-class="{muted: $ctrl.currentView !== 'sources', active: $ctrl.currentView === 'sources'}", ng-click="$ctrl.setView('sources')") Sources
    .nav-element.nav-link.push-down(ng-class="{muted: $ctrl.currentView !== 'filter', active: $ctrl.currentView === 'filter'}", ng-click="$ctrl.setView('filter')") Filter
    .nav-element.nav-link.push-down(ng-class="{muted: $ctrl.currentView !== 'active', active: $ctrl.currentView === 'active'}", ng-click="$ctrl.setView('active')") Active
  .nav-element.search(ng-hide="$ctrl.currentView==='sources'")
    input.search-bar
  .nav-element.bibliography-link
    img.bib-icon(src="http://thomasricci.com/icons/bibliography@2x.png")
  span.usage(ng-hide="$ctrl.currentView==='sources'")
    .nav-element.usage-chart
      .progress
        .progress-bar(style="width: 20%")
