.main-area(ng-show="$ctrl.currentView==='active'")
  active
.main-area(ng-show="$ctrl.currentView==='filter'")
  filter
.main-area(ng-show="$ctrl.currentView==='sources'")
  sources
.top-nav
  .nav-element.return-button
    i.glyphicon.glyphicon-arrow-left(ui-sref="projects")
  .nav-element.project-description {{ $ctrl.actions.project.description }}
  .nav-element.vertical-divider.muted |
  span.nav-links
    .nav-element.nav-link(ng-class="{muted: $ctrl.currentView !== 'sources', active: $ctrl.currentView === 'sources'}", ng-click="$ctrl.setView('sources')") Sources
    .nav-element.nav-link(ng-class="{muted: $ctrl.currentView !== 'filter', active: $ctrl.currentView === 'filter'}", ng-click="$ctrl.setView('filter')") Filter
    .nav-element.nav-link(ng-class="{muted: $ctrl.currentView !== 'active', active: $ctrl.currentView === 'active'}", ng-click="$ctrl.setView('active')") Active
  .nav-element.bibliography-link Biblio Icon
  span.usage
    .nav-element.usage-chart
      .progress
<<<<<<< HEAD
        .progress-bar(style="width: 20%")
    .nav-element.usage-text Using 20% of filtered data
=======
        .progress-bar(ng-style="{ 'width': $ctrl.dataUsedProportion() +'%' }")
>>>>>>> master
