.container
  h2 Select data

  ul
    li
      a(ng-click="$ctrl.setData('set1')") The Ancient World (Pleiades &amp; Pelagios)
      ul
        li 1,188 Place
        li 22,564 Thing
    li
      a(ng-click="$ctrl.setData('set2')") People two degrees removed from John Locke from SDFB and associated places from EMLO
      ul
        li 1,227 Person
        li 204 Place
    li
      a(ng-click="$ctrl.setData('set3')") People two degrees removed from John Locke from SDFB
      ul
        li 1,215 Person
