.container
  h2 Select data

  ul
    li: a(ng-click="$ctrl.setData('set1')") set 1
    li: a(ng-click="$ctrl.setData('set2')") People two degrees removed from John Locke from SDFB and associated places from EMLO
    li: a(ng-click="$ctrl.setData('set3')") People two degrees removed from John Locke from SDFB
