.container
  h2 Constrain configuration

  ul
    li: a(ng-click="$ctrl.setData('set2')") Unconstrained <br />
      img(src="http://hdlab.stanford.edu/img/breve_rect.png",height="200")
    li 1700-1800 Europe (n people, n+5 places) <br />
      img(src="http://hdlab.stanford.edu/img/breve_rect.png",height="200")
    li 1700-1800 France (y people, y-10 places) <br />
      img(src="http://hdlab.stanford.edu/img/breve_rect.png",height="200")
