
<div class="row-fluid">
  <div class="col-lg-9">
    <h4>Testing graph view</h4>
    <div>{{selected}}  </div>
    <div graph="graph" class="graph"></div>
  </div>
  <div class="col-lg-3">
    <h4>Nodes ({{data.nodes.length}})</h4>
    <button ng-click="addNode()" class="btn btn-default">Add node</button>
    <button ng-click="removeNode()" class="btn btn-default">Remove node</button>
    <button ng-click="selection='antani'" class="btn btn-default">Select node</button>
    <table class="table table-striped table-bordered margin-top">
      <tbody>
        <tr ng-repeat="node in data.nodes">
          <td>{{node.name}} ({{node.group}})</td>
          <td><a ng-click="removeNode($index)">Remove</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>