.modal-header
  h4.modal-title#modal-title Add local properties to {{ $ctrl.titleText }}
.modal-body#modal-body
  br
  form.form-horizontal
    .form-group
      span#valueHelpBlock.help-block.col-md-offset-2.col-md-10 Create new properties or add values to existing properties
    .form-group
      label.col-md-2.control-label(for="keyField") Key
      .col-md-8
        input.form-control(type="text" id="keyField" placeholder="e.g. Place of Birth" ng-model="$ctrl.selectedPropDescription" uib-typeahead="property for property in $ctrl.getFilteredProperties($viewValue) | limitTo: 10" typeahead-template-url="resultTemplateForPropertyValue.html" typeahead-on-select="$ctrl.onPropertySelect($item, $model, $label, $event)" ng-change="$ctrl.selectedProp = null")
    .form-group
      label.col-md-2.control-label(for="valueField") Value
      .col-md-8
        input.form-control(type="text" id="valueField" placeholder="e.g. Helsinki" aria-describedby="valueHelpBlock" ng-model="$ctrl.selectedValueDescription" uib-typeahead="value for value in $ctrl.getFilteredValues($viewValue) | limitTo: 10" typeahead-template-url="resultTemplateForPropertyValue.html" typeahead-on-select="$ctrl.onValueSelect($item, $model, $label, $event)" ng-change="$ctrl.selectedValue = null")
      label.col-md-2.control-label
        button.select-button(ng-click="$ctrl.applyPropValueSelection()") Apply
  br
  form.form-horizontal
    .form-group
      span#groupHelpBlock.help-block.col-md-offset-2.col-md-10 Add a group to node(s)
    .form-group
      label.col-md-2.control-label(for="groupField") Group
      .col-md-8
        input.form-control(type="text" id="groupField" aria-describedby="valueHelpBlock" ng-model="groupText")
      label.col-md-2.control-label
        button.select-button(ng-click="$ctrl.setGroup(groupText)") Apply
  br
  form.form-horizontal
    .form-group
      label.col-md-2.control-label Mark
      .col-md-8
        button.btn-danger.btn-circle(ng-click="$ctrl.setMark($ctrl.marks[0])")
        button.btn-warning.btn-circle(ng-click="$ctrl.setMark($ctrl.marks[1])")
        button.btn-success.btn-circle(ng-click="$ctrl.setMark($ctrl.marks[2])")
        button.btn-primary.btn-circle(ng-click="$ctrl.setMark($ctrl.marks[3])")
        button.btn-default.btn-circle(ng-click="$ctrl.setMark($ctrl.marks[4])")
      label.col-md-2.control-label
        button.select-button(ng-click="$ctrl.setMark()") Remove
.modal-footer
  button.cancel-button.transition-200(ng-click="$ctrl.close()") Close
script(type="text/ng-template" id="resultTemplateForPropertyValue.html")
  a
    span.resultActual {{ match.model.labels | prefLang }}