.modal-header
  h4.modal-title#modal-title Add properties to {{ $ctrl.titleText }}
.modal-body#modal-body
  br
  form.form-horizontal
    .form-group
      #valueHelpBlock.help-block.col-md-offset-2.col-md-10 Create new properties or add values to existing properties. Properties are shared across snapshots in a project.
      label.col-md-2.control-label(for="keyField") Key
      .col-md-8
        input.form-control(type="text" id="keyField" placeholder="e.g. Place of Birth" ng-model="$ctrl.selectedPropDescription" uib-typeahead="property for property in $ctrl.getFilteredProperties($viewValue) | limitTo: 10" typeahead-template-url="resultTemplateForPropertyValue.html" typeahead-on-select="$ctrl.onPropertySelect($item, $model, $label, $event)" ng-change="$ctrl.selectedProp = null")
    .form-group
      label.col-md-2.control-label(for="valueField") Value
      .col-md-8
        input.form-control(type="text" id="valueField" placeholder="e.g. Helsinki" aria-describedby="valueHelpBlock" ng-model="$ctrl.selectedValueDescription" uib-typeahead="value for value in $ctrl.getFilteredValues($viewValue) | limitTo: 10" typeahead-template-url="resultTemplateForPropertyValue.html" typeahead-on-select="$ctrl.onValueSelect($item, $model, $label, $event)" ng-change="$ctrl.selectedValue = null")
      label.col-md-2.control-label
        button.select-button(ng-click="$ctrl.applyPropValueSelection()") Apply
      #valueHelpBlock.help-block.col-md-offset-2.col-md-10 You can search for and select a node that is already in the Draw view, or assign any text you want to the property. If you want the value to be a node in the future, we recommend you first create the node in Draw and then add it here.
  br
  form.form-horizontal
    .form-group
      #valueHelpBlock.help-block.col-md-offset-2.col-md-10 Add a group to node(s). Groups are shared across snapshots in a project.
      label.col-md-2.control-label(for="groupField") Group
      .col-md-8
        input.form-control(type="text" id="groupField" aria-describedby="groupHelpBlock" ng-model="$ctrl.groupDescription")
      label.col-md-2.control-label
        button.select-button(ng-click="$ctrl.setGroup($ctrl.groupDescription)") Apply
  br
  form.form-horizontal
    .form-group
      #typeHelpBlock.help-block.col-md-offset-2.col-md-10 Add a type to node(s). Types are shared across a project.
      .col-md-10.col-md-offset-2
        span.type-pill(ng-repeat="type in $ctrl.getTypes()") {{ type.labels | prefLang }}
      label.col-md-2.control-label(for="typeField") Type
      .col-md-8
        input.form-control(type="text" id="typeField" placeholder="e.g. Person" aria-describedby="typeHelpBlock" ng-model="$ctrl.selectedTypeDescription" uib-typeahead="type for type in $ctrl.getFilteredTypes($viewValue) | limitTo: 10" typeahead-template-url="resultTemplateForPropertyValue.html" typeahead-on-select="$ctrl.onTypeSelect($item, $model, $label, $event)" ng-change="$ctrl.selectedType = null")
      label.col-md-2.control-label
        button.select-button(ng-click="$ctrl.setType()") Apply
  br
  form.form-horizontal
    .form-group
      #groupHelpBlock.help-block.col-md-offset-2.col-md-10 Mark nodes using color. Marks are specific to Draw or snapshots.
      label.col-md-2.control-label Mark
      .col-md-8
        button.btn-danger.btn-circle(ng-click="$ctrl.setMark($ctrl.marks[0])")
        button.btn-warning.btn-circle(ng-click="$ctrl.setMark($ctrl.marks[1])")
        button.btn-success.btn-circle(ng-click="$ctrl.setMark($ctrl.marks[2])")
        button.btn-primary.btn-circle(ng-click="$ctrl.setMark($ctrl.marks[3])")
        button.btn-default.btn-circle(ng-click="$ctrl.setMark($ctrl.marks[4])")
      label.col-md-2.control-label
        button.select-button(ng-click="$ctrl.setMark()") Remove
.modal-footer
  button.cancel-button.transition-200(ng-click="$ctrl.close()") Close
script(type="text/ng-template" id="resultTemplateForPropertyValue.html")
  a
    span.resultActual {{ match.model.labels | prefLang }}