div.btn-group(uib-dropdown)
  button#single-button.btn.btn-primary.btn-xs(type="button" uib-dropdown-toggle ng-disabled="disabled") {{ $ctrl.types.displayTypes[0] ? $ctrl.types.displayTypes[0].label : "Primary Nodes" }}&nbsp;
    span.caret
  ul.dropdown-menu(uib-dropdown-menu role="menu" aria-labelledby="single-button")
    li(role="menuitem" ng-repeat="type in $ctrl.types.types")
      a(ng-click="$ctrl.primaryClick(type)") {{type.label}} ({{type.instances}})

div.btn-group(uib-dropdown)
  button#single-button.btn.btn-primary.btn-xs(type="button" uib-dropdown-toggle ng-disabled="!$ctrl.types.displayTypes[0] || $ctrl.types.length < 2") {{ $ctrl.types.displayTypes[1] ? $ctrl.types.displayTypes[1].label : "Secondary Nodes" }}&nbsp;
    span.caret
  ul.dropdown-menu(uib-dropdown-menu role="menu" aria-labelledby="single-button")
    li(role="menuitem" ng-repeat="type in $ctrl.types.types")
      a(ng-click="$ctrl.secondaryClick(type)") {{type.label}} ({{type.instances}})