.container
  h1 Fibra
  h2 Your projects
  div(ng-repeat="(id,projectSource) in $ctrl.projectSources track by $index")
    h3 {{id}}&nbsp;
      span.glyphicon.glyphicon-refresh.fa-spin(ng-if="$ctrl.projectSourceState[id]=='loading'")
    .alert.alert-danger(ng-if="$ctrl.projectSourceState[id]=='error'") Error loading: {{projects}}
    ul
      li(ng-if="$ctrl.projectSourceState[id]=='ready'",ng-repeat="project in $ctrl.projects[id] track by $index")
        a(ui-sref="construct({id:project.id,endpoint:project.sourceEndpoint,graph:project.sourceGraph})"): citable(citable="project",no-link)
        // button.btn.btn-xs.btn-danger(ng-click="$ctrl.deleteProject(id, $index, project)"): span.glyphicon.glyphicon-remove
      li: a(ui-sref="configure({endpoint:projectSource.endpoint,graph:projectSource.graph, name: projectSource.name})") new project
  button.btn.btn-xs(ui-sref="projectSources()",title="Configure project sources"): span.glyphicon.glyphicon-cog
