.container
  h3.header-title Data Pen
    span.header-subtitle Projects

  div.head(ng-repeat="(id,projectSource) in $ctrl.projectSources track by $index",ng-if="id=='Projects'")
    .sort-container(ng-controller="projectsSortController" ng-if="$ctrl.projectSourceState[id]=='ready' && $ctrl.projects.Projects.length !== 0")
      select(ng-model="item.id" ng-selected="0" ng-options="option.id as option.name for option in options")
        option(ng-repeat="option in data.availableOptions" value="{{option.id}}") {{option.name}}

    .spinner(ng-if="$ctrl.projectSourceState[id]=='loading'")

    .error-loading.col-md-6.col-md-offset-3(ng-if="$ctrl.projectSourceState[id]=='error'")
      p.message-text Something went wrong while loading your projects. Check your internet connection and try a refresh?

    .no-projects.col-md-6.col-md-offset-3(ng-if="$ctrl.projects.Projects.length === 0 && $ctrl.projectSourceState[id]=='ready'")
      p.message-text A project contains a set of sources, filters, and active data, as well as tabular and graphical workspaces. Create a project to get started!

    a(ui-sref="configure({sourceId:id})" ng-if="$ctrl.projectSourceState[id]=='ready'" )
      button.new-project-button(type="button" data-toggle="modal" data-target="#newProjectDialog" ng-class="$ctrl.projects.Projects.length === 0 ? 'none-position' : ''") Start new project

    ul.projects-list
      li.project-cell(ng-if="$ctrl.projectSourceState[id]=='ready'",ng-repeat="project in $ctrl.projects[id] track by $index" ng-init="optionsVisibility=''" ng-mouseenter="optionsVisibility='visible'" ng-mouseleave="optionsVisibility=''")
        .row
          .citable-content: citable(citable="project",no-link)
          .project-draw
            a(ui-sref="project({id:project.id,sparqlEndpoint:project.source.sparqlEndpoint,graph:project.source.graph, view: 'active'})")
              .project-details-list-container.transition-100
                label.project-details-list-title Draw
                .draw-lists
                  ul.project-details-list.draw-item-counts
                    li 215
                    li 2
                    li 12
                    li 8
                  ul.project-details-list.draw-item-names
                    li Person
                    li Place
                    li Publication
                    li Persimmon
                  
          .project-filter
            a(ui-sref="project({id:project.id,sparqlEndpoint:project.source.sparqlEndpoint,graph:project.source.graph, view: 'filter'})")
              .project-details-list-container.transition-100
                label.project-details-list-title Filters
                ul.project-details-list
                  //-li(ng-repeat="source in $ctrl.getSources(project)") {{ source.labels | prefLang }}
                  li 1700&ndash;1750
                  li Paris
                
          .project-sources
            a(ui-sref="project({id:project.id,sparqlEndpoint:project.source.sparqlEndpoint,graph:project.source.graph, view: 'sources'})")
              .project-details-list-container.transition-100
                label.project-details-list-title Sources
                ul.project-details-list
                  li(ng-repeat="source in $ctrl.getSources(project)") {{ source.labels | prefLang }}
          ul.project-options(ng-class="optionsVisibility")
            li Edit
            li.delete-project(ng-click="$ctrl.openDeleteProjectModal(project, $index, id)") Delete
