projects-view {

  .head {
    margin-top: 150px
  }

  .message-text {
    font-family: 'Roboto Mono', monospace
    text-align: center
    font-size: 1.3em
    line-height: 1.5em
    color: #AAA
  }

  .error-loading {
    position: relative
    margin-top: 100px
  }

  .sort-container {
    position: relative
    display: block
    float: right
    margin: 10px 0 0 0
    width: 130px
    height: 40px
    line-height: 2.3
    background: none
    overflow: hidden

    .sort-label, select {
      font-size: 0.8
    }

    select {
      width: 100%
      height: 100%
      float: right
      margin: 0
      padding-right: 30px
      font-size: 1em
      color: #3c3c3c
      cursor: pointer
      border: none
      direction: rtl
    }

    select::-ms-expand {
      display: none
    }

    &::after {
      content: '\25be'
      position: absolute
      top: 0
      right: 10px
      bottom: 0
      font-size: 1.2em
      color: #3c3c3c
      background: none
      pointer-events: none
    }
  }

  .new-project-button {
    width: 175px
    height: 37px
    margin: 0 0 30px 0
    padding: 3px 0 0 20px
    border-radius: 3px
    border: none
    border-bottom: 2px solid rgba(#000, 0.2)
    background-color: #466bd3
    background-image: url('../../app/images/general/plus_light.svg')
    background-position: 13px 12px
    background-size: 14px
    background-repeat: no-repeat
    font-size: 1.05em
    color: #f5f5f5
    outline: none
    transition: .1s
    -webkit-transition: .1s
    -moz-transition: .1s
    -o-transition: .1s

    &:hover {
      background-color: rgba(#456ad2, 0.8)
      cursor: pointer
    }

    &.none-position {
      position: relative
      margin-left: 50%
      margin-top: 10px
      transform: translateX(-50%)
    }
  }

  .projects-list {
    margin: 0 -15px 120px -15px
    list-style: none

    .project-cell {
      width: 100%
      text-align: left
      font-family: 'Roboto', sans-serif
      padding: 35px 15px 35px 15px
      margin-left: -15px
      border-top: 1px solid rgba(0, 0, 0, 0.1)
      color: #3c3c3c
      transition: .1s
      -webkit-transition: .1s
      -moz-transition: .1s
      -o-transition: .1s
      z-index: -1

      &:hover, a:hover {
        background-color: rgba(#456ad2, 0.03)
        text-decoration: none
      }
    }

    li:last-child {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1)
    }

    .citable-label {
      font-size: 1.3em
      font-weight: 400
      color: #3c3c3c
    }

    .citable-date {
      display: block
      font-size: 0.9em
      color: #959595
      text-align: left
      margin-top: 3px
    }

    .citable-description {
      font-size: 1em
      color: #3c3c3c
    }

    .citable-sources {
      color: #879fbf
      //font-family: 'Roboto Mono', monospace
      font-size: 0.85em

      label {
        text-transform: uppercase
        display: none
      }

      ul {
        list-style: none

        li {
          border: none !important
          margin-bottom: 5px
          white-space: nowrap
          overflow: hidden
          text-overflow: ellipsis
        }
      }
    }

    .project-options {
      list-style: none
      display: inline-block
      float: right
      font-family: 'Roboto Mono', monospace
      text-align: right
      font-size: 0.85em
      line-height: 1.8em
      margin-right: 30px
      top: 3px
      opacity: 0
      color: rgba(#000, 1)
      transition: .2s
      -webkit-transition: .2s
      -moz-transition: .2s
      -o-transition: 2s
      text-decoration: none

      &.visible {
        opacity: 1
      }

      li {
        opacity: .3
        border: none !important
        cursor: pointer

        &:hover {
          opacity: .8
        }
      }

      .delete-project {
        color: #b80000
      }
    }
  }

  @keyframes spinner {
    to {
      transform: rotate(360deg)
    }
  }

  .spinner {
    display: inline-block
    width: 15px
    height: 15px
    margin-left: 10px

    &:before {
      content: ''
      box-sizing: border-box
      position: absolute
      top: 50%
      left: 50%
      width: 40px
      height: 40px
      margin-top: -10px
      margin-left: -10px
      border-radius: 50%
      border: 2px solid rgba(#456ad2, 0.1)
      border-top-color: #456ad2
      animation: spinner 1s linear infinite
    }
  }

  .no-projects {
    margin-top: 20px
    text-align: center
    padding: 50px 0 50px 0
    margin-bottom: 30px
  }
}
