.container
  h3.header-title Data Pen
    span.header-subtitle Projects
    //- h2 Your projects
  
  .head
    .sort-container(ng-controller="projectsSortController")
      select(ng-model="item.id" ng-selected="0" ng-options="option.id as option.name for option in options")
        option(ng-repeat="option in data.availableOptions" value="{{option.id}}") {{option.name}}
      
  //-.sort-container Sort by date
  div(ng-repeat="(id,projectSource) in $ctrl.projectSources track by $index")
    a.col-md-3
      .new-project(ui-sref="configure({sourceId:id})")
        img.plus-icon(src="./app/images/plus.svg")
        label.new-project-text Start new project
    .row
    //- h3.projects-category-title {{id}}&nbsp;
      //- span.load-icon.glyphicon.glyphicon-repeat.fa-spin(ng-if="$ctrl.projectSourceState[id]=='loading'")
    .spinner(ng-if="$ctrl.projectSourceState[id]=='loading'")
    .alert.alert-danger(ng-if="$ctrl.projectSourceState[id]=='error'") Error loading: {{projects}}
    
    //- hr.keyline
    ul.projects-list
      li(ng-if="$ctrl.projectSourceState[id]=='ready'",ng-repeat="project in $ctrl.projects[id] track by $index")
        a(ui-sref="project({id:project.id,sparqlEndpoint:project.source.sparqlEndpoint,graph:project.source.graph})"): citable(citable="project",no-link)
        //- a(ui-sref="project({id:project.id,sparqlEndpoint:project.source.sparqlEndpoint,graph:project.source.graph})") &nbsp;(Open in new project view)
        //- button.btn.btn-xs.btn-danger(ng-click="$ctrl.deleteProject(id, $index, project)"): span.glyphicon.glyphicon-remove
      
        //-button.btn.btn-xs(ui-sref="projectSources()",title="Configure project sources"): span.glyphicon.glyphicon-cog
