uib-tabset
  uib-tab(ng-repeat="t in $ctrl.tableTypes" index="$index" heading="{{$ctrl.fibraService.getState().construct.displayTypes[$index] ? $ctrl.fibraService.getState().construct.displayTypes[$index].label : t }}")
    table.exploretable.table.table-striped(style="table-layout: fixed")
      tr
        th Label
        th(ng-repeat="p in $ctrl[t].properties") {{ p }}
        th Actions
      tr(ng-repeat="item in $ctrl[t].items")
        td(ng-click="$ctrl.selectItem(item)") {{ item.label.value }}
        td(ng-repeat="p in $ctrl[t].properties" ng-if="item === $ctrl.editItem")
          input(type="text" 
            ng-repeat="e in $ctrl.editItem.localProperties" 
            ng-if="e.label.value == p && e.values[0].termType === 'Literal'"
            ng-model="e.values[0].value")
          small(ng-repeat="e in item.localProperties" 
            ng-if="e.label.value == p && e.values[0].termType !== 'Literal'") {{e.values[0].label.value}}
        td(ng-repeat="p in $ctrl[t].properties", ng-click="$ctrl.selectItem(item)" ng-if="item !== $ctrl.editItem")
          small(ng-repeat="e in item.localProperties" ng-if="e.label.value == p") {{e.values[0].label.value}}
        td
          a(ng-click="$ctrl.delete(item)") Hide
          a(ng-click="$ctrl.saveItem($ctrl.editItem)" ng-if="item === $ctrl.editItem") &nbsp;Save