div#tabcontainer
  a(ng-click="type='type1'" ng-class="{'active': type=='type1'}") {{ $ctrl.fibraService.getState().construct.displayTypes[0] ? $ctrl.fibraService.getState().construct.displayTypes[0].label : "Primary" }}
  a(ng-click="type='type2'" ng-class="{'active': type=='type2'}") {{ $ctrl.fibraService.getState().construct.displayTypes[1] ? $ctrl.fibraService.getState().construct.displayTypes[1].label : "Secondary" }}


div.widthcontainer(ng-switch="type")
  table.exploretable(ng-switch-when="type1" style="table-layout: fixed")
    tr
      th Label
      th(ng-repeat="p in $ctrl.primaryProperties") {{ p }}
      th Actions
    tr(ng-repeat="item in $ctrl.primaryItems")
      td(ng-click="$ctrl.selectItem(item)") {{ item.label.value }}
      td(ng-repeat="p in $ctrl.primaryProperties" ng-if="item === $ctrl.editItem")
        input(type="text" 
          ng-repeat="e in $ctrl.editItem.localProperties" 
          ng-if="e.label.value == p && e.values[0].termType === 'Literal'"
          ng-model="e.values[0].value")
        small(ng-repeat="e in item.localProperties" 
          ng-if="e.label.value == p && e.values[0].termType !== 'Literal'") {{e.values[0].label.value}}
      td(ng-repeat="p in $ctrl.primaryProperties", ng-click="$ctrl.selectItem(item)" ng-if="item !== $ctrl.editItem")
        small(ng-repeat="e in item.localProperties" ng-if="e.label.value == p") {{e.values[0].label.value}}
      td
        a(ng-click="$ctrl.delete(item)") Hide
        a(ng-click="$ctrl.saveItem($ctrl.editItem)" ng-if="item === $ctrl.editItem") Save


  table.exploretable(ng-switch-when="type2")
    tr
      th Label
      th(ng-repeat="p in $ctrl.secondaryProperties") {{ p}}
      th Actions
    tr(ng-repeat="item in $ctrl.secondaryItems")
      td(ng-click="$ctrl.selectItem(item)") {{ item.label.value }}
      td(ng-repeat="p in $ctrl.secondaryProperties", ng-click="$ctrl.selectItem(item)")
        small(ng-repeat="e in item.localProperties" ng-if="e.label.value == p") {{e.values[0].label.value}}
      td
        a(ng-click="$ctrl.delete(item)") Hide