body, table
  background-color: #F5F5F5
  font-size: 12px

canvas
  position absolute
  background-color #fff

svg
  background-color transaprent
  position absolute
  cursor default
  -webkit-user-select none
  -moz-user-select none
  -ms-user-select none
  -o-user-select none
  user-select none

.overlay
  display none
  cursor grab
  cursor -webkit-grab
  cursor -moz-grab

.overlay.active
  display block

.node
  opacity .8
  cursor pointer
  stroke #fff
  -webkit-transition stroke .1s
  transition stroke .1s

.node:hover
  opacity 1

.node.selected
  opacity 1
  stroke #000

.point
  stroke-width 1.5px

.wrap
  border-right: 1px solid #ddd;

.small-box
  max-height:10em
  overflow-y:scroll

.medium-box
  max-height:30em
  overflow-y:scroll

.large-box
  max-height:75%
  overflow-y:scroll

/* re-bootstrap */

a
  cursor: pointer

label
  color: #666

label.light
  font-weight: 400
  font-size: 11px

label.light .btn
  margin-top: 5px
  display: block

.form-group
  margin-bottom: 5px;

.btn
  font-size: 12px
  border-radius: 2px
  border: none
  box-shadow: 0px 1px rgba(0,0,0,.1)

.btn-primary
  border: none
  background-color: #43E7B1
  box-shadow: 0px 1px rgba(0,0,0,.25)

.btn:active, .btn.active
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .125)
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .125)

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary
  background-color: #29DDA2
  border: none
  outline: 0
  outline: 0px auto -webkit-focus-ring-color !important;

.form-control
  border: 1px solid #fff
  box-shadow: 0px 1px rgba(0, 0, 0, .075)
  border-radius: 2px

.form-control:focus
  border: 1px solid #43E7B1
  outline: 0
  -webkit-box-shadow: none
  box-shadow: none

.input-sm, .form-group-sm .form-control
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 2px;

input[type="radio"], input[type="checkbox"]
  margin: 2px 0 0;

input.editable
  border: none
  background-color: transparent;
  border: 1px solid transparent;
  padding: 5px 0px;
  color: #444

input[type="text"].editable::-moz-placeholder
  color:#F8607E
input[type="text"].editable:-ms-input-placeholder
  color:#F8607E;
input[type="text"].editable:-moz-placeholder
  color:#F8607E

input[type="text"].editable.left
  padding: 8px 10px 8px 0px;

input[type="text"].editable:focus,
input[type="text"].editable:hover
  background-color: #F3F9C1

input[type="text"].editable.left:focus,
input[type="text"].editable.left:hover
  padding: 8px 10px;


input[type="text"].editable:focus
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: 0px auto -webkit-focus-ring-color !important;
  background-color: #f5f5f5;

/* helpers */

.margin-top
  margin-top: 10px

.item
  background-color: #fff
  margin-bottom: 1px
  padding: 5px 10px
  cursor: pointer
  font-size: 11px
  color: #999
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap

.item:hover
  background: #fafafa

.item.selected
  color: #000

.item.active
  background-color: #FFFEC2

.item-title
  margin-left: 5px

.item-count
  margin: 0px

.ui.label
  padding:0.1em
  margin:0.1em

.object
  border-top-width: 3px !important

.literal
  border-radius: 0px !important

.ng-table
  border: 1px solid #000

.pushed
  margin-left: 275px !important

.tooltip
  display: none

.label:hover .tooltip
  display: inline

footer
  padding: 20px 0px

.code
  font-size: 11px
  font-family: 'cousine', 'menlo', monospace

.tree-root
  font-weight: 200

.bigger
  font-size: 12px

.strong
  font-weight: 600

.block
  display: block

.dark
  color: #222

.danger
  color: #ccc

.spaced-icon
  padding-right: 0.5em
.glyphicon.selected
  color: #000
