doctype html
html(lang="en", ng-app="app")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title My index
    // google fonts
    // link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Cousine:400,700&subset=latin,latin-ext")
    // bower:css
    //- bower:css
    //- endinject
    // app:css
    //- inject:css
    //- endinject
      
  body
    // main container
    div.container
      div(ng-view)
    
    // bower:js
    //- bower:js
    //- endinject
    // app:js
    //- inject:js
    //- endinject
