doctype html
html(ng-app="rawApp")
  head
    title My index
    // bower:css
    //- bower:css
    //- endinject
    // app:css
    //- inject:css
    //- endinject
  body
    // main container
    div.container
      div(ng-view)
    
    // bower:js
    //- bower:js
    //- endinject
    // app:js
    //- inject:js
    //- endinject
