.container
  h1 Fibra
  h2 Edit remote configuration
  citable-editor(citable="$ctrl.c")
  h4 Endpoint types
  .form-inline
    .form-group(ng-repeat="type in $ctrl.c.types.values() track by $index")
      button.pull-right.btn.btn-xs(ng-click="$ctrl.removeType($index)"): span.glyphicon.glyphicon-remove
      select(ng-model="type.value")
        option(value="http://hdlab.stanford.edu/fibra/ontology#AuthorityEndpointConfiguration") Authority
        option(value="http://hdlab.stanford.edu/fibra/ontology#ArchiveEndpointConfiguration") Archive
    button.btn.btn-xs(ng-click="$ctrl.addType()"): span.glyphicon.glyphicon-plus
  .form-group
    label Project storage
    select.form-control(ng-model="$ctrl.projectSource",ng-options="ps as ps.id for ps in $ctrl.projectSources")
  .form-group
    label Autocompletion query template
    yasqe(content="$ctrl.c.autocompletionQuery",on-content-changed="$ctrl.c.autocompletionQuery = content")
  .form-group
    label Item query template
    yasqe(content="$ctrl.c.itemQuery",on-content-changed="$ctrl.c.itemQuery = content")
  .form-group
    label Class statistics query template
    yasqe(content="$ctrl.c.classStatisticsQuery",on-content-changed="$ctrl.c.classStatisticsQuery = content")
  .form-group
    label Schema endpoint
    input.form-control(type="text",ng-model="$ctrl.c.schemaEndpoint")
  .form-group
    label Class query template
    yasqe(content="$ctrl.c.classQuery",on-content-changed="$ctrl.c.classQuery = content")
  .form-group
    label Property query template
    yasqe(content="$ctrl.c.propertyQuery",on-content-changed="$ctrl.c.propertyQuery = content")
  button.btn.btn-success(ng-click="$ctrl.save()",ng-disabled="$ctrl.disabled") Save to endpoint
