.container
  h1 Fibra
  h2 Edit remote configuration
  citable-editor(citable="$ctrl.c")
  .form-group
    label Project storage
    select.form-control(ng-model="$ctrl.projectSource",ng-options="ps as ps.id for ps in $ctrl.projectSources")
  .form-group
    label Autocompletion query template
    yasqe(content="$ctrl.c.autocompletionQuery",on-content-changed="$ctrl.c.autocompletionQuery = content")
  .form-group
    label Item query template
    yasqe(content="$ctrl.c.itemQuery",on-content-changed="$ctrl.c.itemQuery = content")
  .form-group
    label Tree query template
    yasqe(content="$ctrl.c.treeQuery",on-content-changed="$ctrl.c.treeQuery = content")
  button.btn.btn-success(ng-click="$ctrl.save()",ng-disabled="$ctrl.disabled") Save to endpoint
