a(ng-if="$ctrl.citable.url && !$ctrl.noLink",href="{{$ctrl.citable.url}}",title="{{$ctrl.citable.descriptions | prefLang}}") {{$ctrl.citable.labels | prefLang}}
.col-md-3
  span.citable-label(ng-if="!$ctrl.citable.url",title="{{$ctrl.citable.labels | prefLang}}") {{$ctrl.citable.labels | prefLang}}
  span.citable-date {{ $ctrl.parseDate($ctrl.citable.dateCreated) | date : 'd MMMM, yyyy' }}
span.citable-description.col-md-4(ng-if="!$ctrl.citable.url",title="{{$ctrl.citable.descriptions | prefLang}}") {{$ctrl.citable.descriptions | prefLang}}
//- span.citable-date.col-md-3(ng-if="!$ctrl.citable.url",title="{{$ctrl.citable.dateCreated ? $ctrl.citable.dateCreated : '' | prefLang}}") {{$ctrl.citable.dateCreated | prefLang}}
span(ng-repeat="rightsHolder in $ctrl.citable.rightsHolders")
  span(ng-if="$first") &nbsp;(
  a(ng-if="rightsHolder.url",href="{{rightsHolder.url}}",title="{{rightsHolder.descriptions | prefLang}}") {{rightsHolder.labels | prefLang}}
  span(ng-if="!rightsHolder.url",title="{{rightsHolder.descriptions | prefLang}}") {{rightsHolder.labels | prefLang}}
  span(ng-if="$middle") ,&nbsp;
  span(ng-if="$last") )
