.col-md-4
  h3.citable-label(ng-if="!$ctrl.citable.url",title="{{$ctrl.citable.labels | prefLang}}") {{$ctrl.citable.labels | prefLang}}
  p.citable-date {{ $ctrl.parseDate($ctrl.citable.dateCreated) | date : 'd MMMM, yyyy' }}
  p.citable-description
    span.citable-proj-date-range(ng-if="$ctrl.citable.dateBoundaryStart && $ctrl.citable.dateBoundaryEnd") {{$ctrl.citable.dateBoundaryStart}}&ndash;{{$ctrl.citable.dateBoundaryEnd}}. 
    span(ng-if="!$ctrl.citable.url",title="{{$ctrl.citable.descriptions | prefLang}}") {{$ctrl.citable.descriptions | prefLang}}
span(ng-repeat="rightsHolder in $ctrl.citable.rightsHolders")
  span(ng-if="$first") &nbsp;(
  a(ng-if="rightsHolder.url",href="{{rightsHolder.url}}",title="{{rightsHolder.descriptions | prefLang}}") {{rightsHolder.labels | prefLang}}
  span(ng-if="!rightsHolder.url",title="{{rightsHolder.descriptions | prefLang}}") {{rightsHolder.labels | prefLang}}
  span(ng-if="$middle") ,&nbsp;
  span(ng-if="$last") )
